<% include ../header %>

<div class="main-articles">
	<div class="container">
		<h1>Admin Page</h1>
		<% columns.forEach(function(column){ %>
	    <div class="thing">
	    	<a href="/column/<%= column.id %>"><%= column.title %></a>
	    </div>
	  <% }) %>
	  <a href="/column/new">New Column</a>
	</div>
</div>

<% include ../footer %>