<%= include ../header %>	
<script>window.Content = { title: 'Hello' }</script>
<div id='react-content'></div>

<script src='/js/column-editor/column-base.compiled.js' ></script>

<%= include ../footer %>