<%= include ../header %>	

<script>window.Players = <%- JSON.stringify(players) %>;</script>

<div id='react-content'></div>

<script src='/js/column-editor/column-edit.compiled.js' ></script>

<%= include ../footer %>