<%= include ../header %>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>New Podcast</h2>
			<form action="/podcast/new" method="post">
        <div class="post-form">
        	<p>
        		<input type="text" name="title" placeholder="Title" >
        	</p>
        	
					<p>
						<input type="text" name="podcast" placeholder="Podcast URL" >
					</p>

					<p>
						<input type="checkbox" name="approved"> Approved
					</p>

					<input type="submit" value="Submit">
				</div>
			</form>	
		</div>
	</div>
</div>

<%= include ../footer %>