	<%= include header %>
	<div class="main-articles">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="main-title">About Football by Football</h1>
					<p>FootballByFootball.com is a football analysis website providing unique player-writer generated content; owned & operated by experienced football players.</p>
					<p>Experience counts immensely—especially in analyzing the world’s most complex sport. A tiny percentage of the writing population has football experience. This is a disparity we aim to change.</p>
					<p>Football fans crave insight. So, when the world orders a steak, you don’t butcher a chicken.</p>
					<p>Welcome to FootballByFootball.com.</p>
				</div>
			</div>
		</div>
	</div>
	<%= include footer %>