<%= include header %>

<div class="article-header">
	<h2 class="title">Remember the Flag-amo!</h2>
</div>

<div class="article">


	<p>Well.  That was fun.  Flag Day is supposed to be celebrated on June 22nd in the US, but the NFL decided to make it an all-August affair. </p>

	<p>The NFL preseason is now over, and with bated breath we wait to see if the league cares to know what all air-breathers understand: the world’s greatest spectator sport ain’t so great if it’s the game officials we’re forced to spectate. </p>  

	<div class="aside right">
		<img src="/img/article-side-image.png" alt="">
	</div>	

	<p>The 2013 NFL season brought its fair share of rules problems screaming for a fix in the 2014 offseason- from the ongoing 40 yard spot-foul pass interference glitch, to the asinine invention of a defenseless player and its randomly applied rules, to a increasingly weird grocery list of things that can and can’t be reviewed.  Naturally, when these problems rear their ugly head you enlist an expert football committee to get right to the heart of the problem.</p>
	

	<p>The eight person NFL Competition Committee, with its mix of head coaches, general managers, and team presidents, would seem to have enough football know-how to recognize something that’s bad for the game when they see it.  Instead, they emerged from offseason deliberations with nary a significant change to the game’s unfortunate prose toilet, but an all-new (but not-new) scorching focus on defensive interference and the burning issue of touching of helmeted heads with hands.  

	<p>NFL enlisted a detective crew perceptively south of Jacques Clouseau, Frank Drebin and Hong Kong Phooey to solve the most pressing rules problems.</p>

	<div class="image-set cf">
		<img src="/img/article-3-1-image.png">
		<img src="/img/article-3-2-image.png">
		<img src="/img/article-3-3-image.png">
		<p><a href="http://www.nfl.com/rulebook/digestofrules">http://www.nfl.com/rulebook/digestofrules</a></p>
	</div> 

	<p>In September of 2012 during the embarrassing NFL replacement referee debacle, former NFL official Jim Tunney famously explained that “It would take several geniuses, including some who are dead, to try to make sense of this book.”</p>

	<p>The way Goodell looked back at Belichick…with a “bu-bu-bu-but I worked on Park Avenue at the NFL offices for 18 years.  I’m a football guy!” </p> 

	<p>Not a secret made-up fantasy language…Klingon alphabet</p>

	<p><a href="http://www.omniglot.com/soundfiles/alphabets/alphabet_klingon.mp3">A recording of the Klingon numbers</a> by <a href="http://www.languages2.estranky.cz/">Jan Jurčík</a> </p>
	
	<p><a href="http://www.omniglot.com/soundfiles/alphabets/alphabet_klingon.mp3">http://www.omniglot.com/soundfiles/alphabets/alphabet_klingon.mp3</a></p>

	<p>Rule 12, Section 2, Article 7: Players in a Defenseless Posture. It is a foul if a player initiates unnecessary contact against a player who is in a defenseless posture.</p>

	<p>(a)	Players in a defenseless posture are:</p>

	<p>(2) A receiver attempting to catch a pass; or who has completed a catch and has not had time to protect himself or has not clearly become a runner. If the receiver/runner is capable of avoiding or warding off the impending contact of an opponent, he is no longer a defenseless player;</p>

	<p>In a 2012 Star-Ledger interview, Tunney explained that “If you missed something, you get a downgrade, and if you get enough downgrades, you won’t be given the playoffs. And refs are like players. They want to make the playoffs.”</p>

	<p>The NFL had to make a 100+ page casebook to explain the 100+ page rule book.  Because, ya know…of course. </p> 

	<p>A.R. 5.24 SLIPPERY SUBSTANCE ON JERSEY</p>

	<p>—HURRY-UP OFFENSE</p>

	<p>With less than one minute remaining in the first half, after several prior checks, the Umpire possibly detects silicone on the jersey of A6. Team A is in a hurry-up offense.</p>

	<p>Ruling:  Umpire does not interrupt the hurry-up offense. At a normal game break or at halftime, he checks A6</p>

	<p>A.R. 5.25 JERSEY—SILICONE</p>

	<p>Third-and-5 on A15. A2 runs to the A20 where he is tackled by the facemask and slammed to the ground by defensive lineman B1. At the end of the down, it is noticed that B1 has silicone on the front of his jersey.</p>

	<div class="aside right">
		<img src="/img/article-side-2-image.png" alt="">
	</div>	

	<p>Ruling: A’s ball, first-and-10 on A35. B1 must be suspended for one down, and his jersey must be replaced. The team cannot allow the player to remain in the game by taking a charged timeout and replacing the jersey. Officials should confiscate the Jersey. </p> 

	<p>Regardless of your thoughts on religion, the Bible story of The Tower of Babel tells a relevant life-lesson of the dangers of crazy-arrogance.  The gist is the people of the world- who at the time all spoke the same language- tried to build a tower that would reach to heaven.  God smacked down this attempt to build a monument to themselves by causing the people of the world to speak different languages so they would not understand each other.  Confusion ensued, and people scattered across the planet.  Hubris resulting in mass-confusion. </p>  

	<p>The problem is the NFL has over the years built its own Tower of Babble in the form of a rulebook that’s a convoluted text-monument to the clueless pursuits of impossible goals.  Trying to make objective the countless parts of the game of football that will always be subjective should prompt the public.</p>   

	<p>Do they NFL rule-makers not know this?  Or do they not care?  At this point, it doesn’t really matter.  Both are a serious problem.</p>  
 	
 	<p>Basketball has a cylinder hoop that the ball must travel through.  If it doesn’t, there’s no score.</p>  

	<p>After a summer season of fan and media whining coupled with flushed time and money on an ugly product, where are we know?  Back at the NFL trough, of course.</p>  

	<p>I don’t doubt that the NFL regular season won’t be as difficult to stomach as the preseason, but </p>

	<p>In an open letter to 10 million subscribers on the NFL’s mailing list, Commissioner Roger Goodell wrote “We are proud that the game is safer and more exciting today than ever.”  It’s impossible to know if he managed to keep a straight face when he typed this, but </p>
	<img class="article-bottom" src="/img/article-bottom-image.png" alt="">
</div>
<%= include footer %>