<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="column-header">
			    <h2 class="title">Percy Harvin: The Biggest Headache For Seahawk Opponents</h2>
			    <p class="date">September 10, 2014</p>
			    <img src="https://s3.amazonaws.com/footballbyfootball-dev/breakdown/col-pop-break.jpg" alt="">
				</div>
				<div class="column-content-wrapper">
				  <p>Settling into my stance before the snap of the ball, I focus in on my keys--seeing the offensive tackle, guard, center, quarterback and the running backs at the same time. Two eyeballs.  Six things.  No problem. 

				  <p>The backfield set of the tailback (Marshawn Lynch) and the fullback (Mike Robinson) was tilted in a way to where it looked like the ball would be run away from me to other side of the formation.

				  <p>Sure enough, at the snap, the offensive lineman shoot out of their stances low and hard, usually indicating a running play. The quarterback reverse pivoted to hand the ball off to Lynch, as he and Robinson were now tracking towards the opposite side of the formation from me—exactly as I’d anticipated. I aggressively made my way to the ball carrier, intent on getting in on the tackle.

				   <p>As I pursued, out of the corner of my eye I saw the offensive guard assigned to block me duck his head and go for the cut block. With a shot of agility and the sound technique I’d drilled a thousand times, I danced past him as he flopped to the ground like a beached whale.

				  <p>He didn’t even touch me! <em>Offensive lineman are such big clumsy suckers.</em> In an instant, I was now unblocked and knew that I had a chance at a nice solid tackle on Lynch.  When I got within a step of him, I ran through, wrapping him up.

				  <p>My helmet hit the side of his helmet making a loud “crack!” echoing across the field. After taking Lynch down for a no-gainer, I started to see these little twinkling stars as I made my way back to the huddle. By the end of the game I had a big headache that didn’t subside until the next day. Tackling Marshawn Lynch is like hitting a parked car. 

				  <p>I learned Lynch can leave a mark when I played against him years ago, much as he did with that same fanatical and punishing style against the Packers last Thursday. 

				  <p>But the player who will cause defenses the most brain strain in 2014?  Percy Harvin.  The strain is less a bruising one, but no less painful for a defense.  Lynch has the brand, but Harvin can be the biggest problem for NFL defenses. 

				  <hr>

				  <p>Explosive <em>AND</em> versatile.  There are lots of guys in the NFL that are one of the two, but few that are truly both.  Harvin is one of the more difficult matchup pieces an NFL offense can have. 

				  <p>As Dom Capers and the Packer defense witnessed, Percy Harvin is a conundrum for defensive coordinators across the NFL.  He’s the ultimate match-up nightmare.  Let me explain...

				  <div class="full-width">
				      <img src="https://s3.amazonaws.com/footballbyfootball-dev/breakdown/break-sept10-1.jpg" alt="">
				  </div>

				  <p>Percy Harvin has the ability to align at any of the WR spots on the field.  In the screen shot above, he’s lined up as an outside WR in a “bunch” formation (a group of 3 eligible WRs).  In this case, defense’s can match up with him conventionally using a cornerback.   No big deal right?  This is pretty standard stuff, but Harvin will align at different places within the bunch, making the matchup once he releases into the pattern potentially difficult—depending on his location, the traffic created by the routes in front of him, and who you’re trying to mark him with. 

				  <p>Bunches are a great way to complicate the matchup with a player you know defenses are targeting.  When the location within the bunch doesn’t correlate with a specific route or role, another layer is added.

				  <div class="full-width">
				      <img src="https://s3.amazonaws.com/footballbyfootball-dev/breakdown/break-sept10-2.jpg" alt="">
				  </div>

				  <p>Percy Harvin will also line up as a RB (above). The important thing is, he isn’t a decoy—he’s not just there to force the defense to change their base call. 

				  <p>He runs the ball effectively from his running back position. He was matched on this play with #33 of the Packers, defensive back Micah Hyde, who’s best equipped with his 197 pound body to play in space. But because he's matched up with Percy Harvin for pass plays, he now has to play like a 240 pound linebacker vs. the run because he’s walked down near the box.  That means taking on offensive lineman while giving up at least 100 pounds.  The result of this play was an 11 yard run by Percy.  Advantage Seahawks

				  <div class="full-width">
				      <img src="https://s3.amazonaws.com/footballbyfootball-dev/breakdown/break-sept10-3.jpg" alt="">
				  </div>

				  <p>Defensive coordinators then say, “If you’re going to line Percy up like a running back, we'll treat him like a running back by matching him up with a linebacker.”

				  <p>In the above screen shot, Percy Harvin is now matched up with LB AJ Hawk of the Green Bay Packers. Guess what defensive concept is being employed by the Packer’s here? Man-to-man. Hawk right now has Percy Harvin man-to-man! That is a scary thought for any linebacker or coach. Although Hawk can run well, this is clearly disadvantageous for the Packer’s D. I’m sure Dom Capers was praying they could get out of this down without giving up a huge play. Luckily for the Packers it was 3 and 1, and the Seahawks were more focused on moving the chains than taking a shot downfield. 

				   <p>Against Green Bay, Harvin was productive as both a pass catcher and a runner.  What’s the best way to match Percy Harvin? With a DB?—unless he aligns as running back.  How about a LB then?—huge potential problems there as well.  Bad place to be as a defense.  Defensive coaches will likely have similar dilemmas the rest of this season in game-planning against the Seahawks.

				  <p>To tell you the truth I don’t think there’s a right or wrong answer.  But I know I’m getting a headache just thinking about it.  
				</div>
			</div>
			<div class="col-md-4">
				<div class="author-badge">
					<div class="black banner right">Football <span class="by">by</span> Brady Poppinga</div>
					<div class="author-square" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradypoppinga.jpg)"></div>
					<div class="content">
						<p class="item">Linebacker</p>
						<p class="item">8 years in NFL</p>
					</div>
				</div>
				<div class="under-author">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Column-Player Ad -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:300px;height:250px"
					     data-ad-client="ca-pub-2768251721679098"
					     data-ad-slot="2559373961"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>