<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="column-header">
					<h2 class="title">How Much Gronk? <span class="smaller"> All You Can Handle, Bro.</span></h2>
					<p class="date">September 6, 2014</p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/col-sept6.jpg" alt="">
				</div>
				<div class="column-content-wrapper">
					<p>One of the NFL’s biggest question marks going into Sunday’s opening weekend of games, is the level of involvement Rob Gronkowski will have in the Patriots offense as they battle the Dolphins.  It seems weird to have to say this, but the Patriots offense—as with all NFL teams—is a significantly more difficult matchup when they have their best offensive weapon.  Duh. 
					 
					<p>Gronk is reportedly fully recovered from his gruesome right knee injury from last December’s Cleveland Browns game.  I’ve been covering the team this preseason, watching him in training camp practices throughout August.  As far as movement skills—speed, quickness, agility in-and-out of cuts, bending to drive through blocks—he doesn’t look discernibly different than past seasons.  If there’s a thing in the world that you can count on with Gronk, it’s that he’s going to go hard.  He seems to have crushed the rehab hurdle.
					 
					<p>All that said, Gronk didn’t participate in any of the preseason games.  And the full contact team reps that he took when practices were open to the public were very limited in number.  I don’t doubt he’s been banging around in practice the last couple weeks.  He probably feels very confident in what he can do with the knee at this point—at least to the extent that you can test it in an NFL practice.  
					 
					<h2 class=”subheader”>Testing…1, 2, 3</h2>
					 
					<p>How can you test a knee in an NFL practice to see if it’s ready to roll?   The different ways are seemingly endless…just about every movement-based concern can be addressed there.
					 
					<p>You can experience the jolt of getting crashed into from the side by other bodies in the box, and then feel the repaired ligaments hold.  You can burst out of a cut from an awkward angle or slippery surface, and then feel the knee respond with new certainty.  You can experience the load a knee takes on when blocking a heavy defensive end or linebacker, and then feel the ligaments recoil without incident.  You can also go up high to snag a pass in traffic, and then find the ground from a less-than-ideal angle without pain. 
					 
					<p>What you can’t do is get tackled—especially through the legs, which is exactly where every sane defender in the NFL needs to tackle this 6’6 265 pound runaway train.  <em>And that’s for their own safety.</em>
					 
					<p>Most players on the backside of a major lower body rehab would have a big mental hurdle to overcome getting past the first hard tackle through the legs.  Take the hit, stand up and do a systems check to make sure everything is still attached.  This is something all injured players go through. 
					
					<p class="pull-quote">Gronk is a bouncing ball of butcher knives when he plays football, so maybe he doesn’t even consider the things that go through a normal player’s mind.  Or maybe he does. </p> 

					<p>Gronk is a bouncing ball of butcher knives when he plays football, so maybe he doesn’t even consider the things that go through a normal player’s mind.  Or maybe he does. 
					 
					<p>The unknown here is no matter what Gronk’s state of mind, the Patriots coaching staff hasn’t seen their best pass-catcher handle a big blow through the legs. 
					 
					<p>Does that affect their play-calling when Gronk sees LIVE football action for the first time in almost 10 months?  Considering his long-term value to the team—both this season and future ones—my best guess is “yes.”    
					 
					<p>There are several factors at play here that likely guide this decision.  With past as possible precedent, let’s look at last year’s Week 7 game against the NY Jets.  That was Gronk’s return from a series of back and arm surgeries during the 2013 offseason that long-delayed his regular season debut. 
					 
					<p>In that instance, the reasonable speculation of a limited rep count in his first game back was blown to pieces by Coach Belichick and his staff, as Gronk played virtually the entire game—including a season high 17 passing targets.  For that game, Gronk had 8 receptions for 114 yards, a great day’s work—whether it was the first game back or the hundredth. 
					 
					<p>Each of these 17 targets is outlined below in the screen captures from that game. 
					 
					<div class="full-width">
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/graphic-sept6.jpg" alt="">
					</div>
					 
					<p>The interesting story within these targets is the high incident of routes similar to the one that Gronk was injured on last December…a deep seem or middle-read route that’s fit in between an underneath defender and a deep safety.  Cleveland’s deep field player, TJ Ward, arrived at the exact moment Gronk turned without an opportunity to protect himself.  A freak play, no doubt. 
					 
					<p>Frames 2, X (a penalty), 5, 12, 14, and 15 are all very similar routes to the one Gronk was injured on.  It’s worth noting that on none of these particular plays did the safety end up in the same position at the moment of contact as Ward did on the injury play later this same season …underscoring the rare circumstances of that injury. 
					 
					<p>We learned from the NY Jets game that the organization trusts in Rob Gronkowski’s ability to handle a significant cardiovascular load, even on his first week back after a significant layoff from real football.  But even that fact requires context.  It wasn’t nearly as warm in New York last October as it will be Sunday in Miami.  Rep management may be the recipe for Gronk regardless of what he’s done in past “first game back” scenarios. 

					<div class="caption-image">
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/cap-sept6.jpg" alt="">
						<p class="ap-image">Rob Gronkowski during 2014 training camp practice in Foxboro, Massachusetts - Courtesy of <a href="http://twitter.com/chatham58" target="_blank">@chatham58</a></p>
					</div>

					<p>What we don’t know is if his coaches will have the same trust in exposing him to the seam area of the field where bang-bang plays and unseen hits are the norm.  The temptation will be strong, as the seam is where Gronk has done so much damage in his career…both to other teams’ defenses, and now unfortunately, to his own knee.  Gronk may feel ready, but are the play-callers?    

					<p>Gronk isn’t helped in this whole situation by a league that’s directed players down to the lower (unprotected) parts of offensive players’ bodies, to avoid hitting areas having the most protective equipment.  For safety.  That makes a whole thimble-full of good sense. 
					 
					<p>My guess is that for Sunday, we may see Gronk major more in low crossing routes, curls, outs, and isolated situations outside the numbers where boundary throws are less likely to draw contact from an unseen charging safety. 
					 
					<p>But that’s just a guess. 
					 
					<p>What we do know with relative certainty is the NFL’s best tight end will be back on the field Sunday, playing the game he loves.  And the NFL is better for it. 
				</div>
			</div>
			<div class="col-md-4">
				<div class="author-badge">
					<div class="black banner right">Football <span class="by">by</span> Matt Chatham</div>
					<div class="author-square" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
					<div class="content">
						<p class="item">Linebacker</p>
						<p class="item">8 years in NFL</p>
						<p class="item">3x Super Bowl Champion</p>
						<p class="item">New England</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>