<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="column-header">
					<h2 class="title">Don't Call Me Maybe</h2>
					<p class="date">September 2, 2014</p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/dreessden-dontcallmemaybe.jpg" alt="">
					<p class="ap-image">AP Image</p>
				</div>

				<div class="column-content-wrapper">
					<p>I’m worried that for the rest of life, in the last days of August my palms will drip sweat, my chest will tighten with anxiety, and my heart rate will spike through the roof.  With all 32 NFL teams finalizing their rosters over the Labor Day weekend, I couldn’t help but reflect back on my time spent on the roster bubble.  No, really. I couldn’t help it.  So I wrote it down… 
					 
					<p>After the final preseason game, rosters get trimmed from 75 players to 53 players.  For most squads, if you’re playing in that final preseason game, you’re fighting for a job.  The days following are like an intense cardio workout, but not from wind sprints or lifting weights; from staring at one's cell phone and praying "please don't call me."
					 
					<p>For the top-half of the roster, the final preseason game goes like this: workout before the game, pre-game warmups, watch the game while chewing sunflower seeds and looking forward to having the next couple days off.  This rite of passage is reserved for those secure in their status on the team.  The other half of the roster grinds out that final game, playing special teams and nearly every snap of offense or defense in front of half filled stadiums of indifferent fans. 
					 
					<p>Truly a physically, mentally, and emotionally exhausting 3 hours for guys trying to cling to their dream; trying to remain employed with a company that’s not quite sure if it wants them. 
					 
					<hr>
					 
					<p>I’ll never forget the way the dorm rooms smelled at Hofstra University in Long Island, New York.  Cold, tile floors and brick walls, decorated with crusty and loud wall A/C units that didn't really work. And those extra long single beds just perfect for professional football players.  I was a 6th round draft pick of the New York Jets, and like most rookies, my performance early in my first training camp was bad.  Really bad. 
					 
					<p>Even with 15 OTA's and a minicamp under my belt, learning and performing an offense that was like a foreign language to me was a challenge to say the least.  Not to mention competing against a caliber of athlete far better than the majority I had gone against at Colorado State University.  My tight end coach, John Zernhelt, worded it like this: "Dreessen, I am at my wits end with you."
					 
					<p>In a practice against the New York Giants at their training camp in Albany, New York, my confidence meter inched up from "Zip" to "I might actually be able to do this."  An injury to a teammate allowed me to practice at right guard with the first team punt unit.  I performed my kick slide, made my blocks, covered down, and thudded up the returner. 
					 
					<p>All of a sudden everything on offense was clicking for me also.  The endless hours I spent studying practice scripts, drawing up plays, and memorizing terminology were starting to pay off.  I could get lined up, use the required technique for the specific play, and perform at an adequate level. 
					 
					<p>Michael Strahan knocked me on my ass, but I held my own against his backups in the run game and pass protection.  My favorite moment came during 11-on-11 drills in the red zone.  I beat man coverage on a corner route and leaped high in the back of the end zone to get my hands on a Jay Fiedler pass.  I tapped my toes on both feet in bounds to confirm the touchdown, all while falling to the ground. 
					 
					<p>Now back in Coach Zerhhelt's good graces, he gave me a nickname and on the bus ride back to Long Island said, "Buck, Herm Edwards says you are the most improved player of training camp so far."
					 
					<p>I would play well in all of the preseason games.  In the fourth game in Philadelphia I “left it all on the field”, as the cliché goes.  Playing wherever they needed me on special teams and making several catches on offense, I was feeling good about my chances of making the 53 man roster.  Our head coach, Herm Edwards had announced that all of the required cuts would be made over the next 48 hours. 
					<div class="caption-image">
					 	<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/dreessden-caption.jpg"> 
					 	<p class="ap-image">AP Image</p>
					</div>
					

					<p>Now out of the dorms and housed in the Long Island Marriott, my then girlfriend and now wife spent those 48 hours playing general manager.  We’d go over the entire roster several times and try to determine who would be given their walking papers.  I tried to stay positive, reminding myself that this regime doesn’t cut draft picks. Most NFL teams keep three tight ends, and I was the third. I had improved every practice and every coach loved my effort and attitude. 
					 
					<p>Then my mind would wander to the negative.  The Jets only kept two tight ends on the 53 man roster the year before, 6th round draft picks get cut all of the time, and I had heard my name brought up in conversations about the practice squad.  I would stare at my cell phone and pray it didn't ring. 
					 
					<p>Halfway through the second day of NFL purgatory, and still uncertain of my situation, I went into the practice facility to watch the game film from the last preseason game.  I bumped into fellow rookies who’d been released, each cleaning out their lockers with dejection all about them.  I tried to talk to those guys about what they just went through, what was said to them about being cut, and promised to keep in touch. 
					 
					<p>I felt guilty for having not been released yet, but at the same time was so glad I was not.  Not sure if I was welcome in the facility or not; being here made me very uneasy.  So I rode my bike across campus to the cafeteria where we had all of our training camp meals.  Worst case scenario at least I would get one more free dinner.
					 
					<p>As I entered the cafeteria Coach Zernhelt approached me with a huge smile while performing the pre-Manziel money fingers celebration.  I will never forget how he said, "Buck, you made it!"  He would tell me how they didn't think they could slide me to the practice squad without getting snatched up by another team, and he was not sure how much I would be on the 45 man active game day roster, but at least I was going to get paid like it. 
					 
					<p>At that moment I didn't care about what my salary was going to be.  I was absolutely in love with football, thrilled to the core that my dream was still alive, and that my hard work and faith was being rewarded.  I am pretty sure I skipped out of the cafeteria that day to call my mother.   I was a real NFL player with a regular season roster spot on the New York Jets. 
					 
					<p>My focus immediately switched to staying on that 53 man roster, so I didn't indulge in much celebrating.  I would go on to play in 14 regular season games for the Jets that season.  Injuries plagued our team and we limped to a dismal 4 wins.  I made some memorable plays and had many exciting moments.  But none really compare to surviving the training camp gauntlet and making the team on my first attempt.  Although very brief, this was an overwhelming feeling of achievement that I’ll never forget. 

				</div>				
			</div>
			<div class="col-md-4">
				<div class="author-badge">
					<div class="author-badge">
						<div class="black banner right">Football <span class="by">by</span> Joel Dreessen</div>
						<div class="author-square" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_joeldreessen.jpg)"></div>
						<div class="content">
							<p class="item">Tight End</p>
							<p class="item">8 years in NFL</p>
						</div>
					</div>
					<div class="under-author">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Column-Player Ad -->
						<ins class="adsbygoogle"
						     style="display:inline-block;width:300px;height:250px"
						     data-ad-client="ca-pub-2768251721679098"
						     data-ad-slot="2559373961"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>