<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="column-header">
					<h2 class="title">Start the Carr:  The Case for Starting Rookie Quarterbacks</h2>
					<p class="date">September 3, 2014</p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/col-derekcarr.jpg" alt="">
					<p class="ap-image">AP Image</p>
				</div>
				<div class="column-content-wrapper">
					<p>Rookie quarterback Derek Carr is slated to start this weekend against the New York Jets.  Is it the right move to start a rookie quarterback?  To answer briefly…yes. 
					 
					<p>If you look at the recent cases of quarterbacks drafted in the first round, they’ve all enjoyed varying degrees of success, both on the field (2 Super Bowl champions and 6 Pro Bowlers) and off.  Production on the field leads to lucrative contract extensions, allowing them to morph into true “franchise quarterbacks” for the long term. 
					 
					<p>From my perspective, there are a few other things that make this decision easy.  Since the most recent CBA (Collective Bargaining Agreement), first round draft picks are slotted and can sign no longer than a five year contract (there is an option for a fifth year decided by the team).  This not only limits their hit against the salary cap, but allows for a team to build a cast around the rookie QB to help provide protection upfront, or add a talented wide receiver. 
					 
					<p>Cap savings can then be spent bolstering the defensive side of the football.  To use a few clichés, “defense wins championships” and “sometimes the best offense is a good defense.”  But these clichés held up for the teams of a couple recent Super Bowl champion quarterbacks: Joe Flacco and Russell Wilson.  Those teams spent on defense. 
					 
					<p>This basic strategy is pretty straight forward.  By starting a rookie QB, you’re able to find out if he can play in the NFL, and develop him without spending a huge chunk of cash.  There will be bumps. 
					 
					<p>As was once told to me by a prominent Super Bowl winning (and now retired) NFL head coach, it takes three years to evaluate whether a QB can play in the league.  The first year he’s still learning the offense and getting adjusted to the various defenses he will face from week-to-week.  The second year he’s beginning to mesh with the personnel around him and gaining confidence in his ability to succeed at this level.  The third year is when he should be able to flourish in the offense and win you games. If he doesn’t, well… then you know you’re either shopping for or drafting a QB for the following season.
					 
					<p>A huge factor in this development is consistency within the franchise.  It’s rare when any QB has the opportunity to play three full seasons with the same coach and personnel around him.  Let’s look at Mr. Carr’s team for example.  Since 2000, the Raiders have had 8 head coaches.  That’s not including the changes in their front office and roster.  With such a revolving door and so many moving pieces, it’s difficult just to learn everyone’s name--much less to develop a young quarterback.  Believe me…from experience.
					The key ingredients to the success of examples like Joe Flacco and Russell Wilson are as follows:
					 
					<ol>
						<li>Surround your QB with a top-tier defense that’s stingy in the red zone and can create turnovers.  Paging Ray Lewis, Terrell Suggs and Ed Reed.  Richard Sherman, Earl Thomas and Michael Bennett do just fine as well. </li>
						<li>Implement a productive rushing attack that can control the clock and grind out the tough yards on 3rd/4th and 1. Ray Rice and Marshawn Lynch.  Ding.  And ding. </li>
						<li>Build a solid special teams unit with the ability to create an explosive play.  Jacoby “Dancing with the Stars” Jones and Percy “Flash” Harvin both scored touchdowns in their respective Super Bowls, showcasing the momentum swing that element can provide.</li>
					</ol> 
					 
					<p>Neither of these quarterbacks won the Super Bowl their rookie year.  But just like Big Ben’s first Super Bowl Championship, it allowed them to grow and mature into the type of players that could execute on the big stage when that time came. 
					 
					<p>In the case of Derek Carr and the Raiders, they‘ve beefed up their defense this off-season with the acquisitions of Justin Tuck, Lamar Woodley and the underrated Antonio Smith. Oakland drafted the sack-machine Khalil Mack in the first round of this year’s draft, and also has a future Hall-of-Famer, Charles Woodson, in the secondary.  Sounds like the makings of the right recipe thus far. 
					 
					<div class="caption-image">
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/cap-bradyquinn.jpg" alt="">
						<p class="ap-image">Brady Quinn was a first round draft pick of the Cleveland Browns in 2007 - AP Image</p>
					</div>
					
					<p>On the offensive side of the ball, they added Maurice Jones-Drew to compliment Darren McFadden to create another bound-to-be-called, “Thunder and Lightning” backfield.  The change-up in style of each back should allow for big plays in the running game, along with consistent overall production.  The only thing lacking in this concoction of rookie QB success is the explosive special teams return game.
					 
					<p>The AFC West is filled with offensive fire-power, so in order for Oakland’s stout defense to be effective, they must rely on their special teams play to at least be even in yardage with their opponent.  Ideally, they’d give them a dynamic play from time to time.  If they’re able to accomplish this, Oakland can keep momentum on their side and give Derek Carr a chance to make some plays and win them games. 
					 
					<p>The interesting part of this Carr scenario in Oakland is “who made the decision?”  If it was Head Coach Dennis Allen, then he’s in a “win-win” situation.  An up-and-down year for the Raiders allows for Allen to shed some blame on the growing pains of starting a rookie QB, and possibly save his job.  Allen has gone 4-12 the past two seasons, and the previous two coaches were fired for their 8-8 records (Tom Cable and Hue Jackson).  The success of his rookie QB would allow for Allen to receive credit for making the choice, and just might help forge his future with the Raiders. 
					 
					<p>Either way, Derek Carr is starting Week 1.  And that makes all the sense in the world to me. 
				</div>
			</div>
			<div class="col-md-4">
				<div class="author-badge">
					<div class="black banner right">Football <span class="by">by</span> Brady Quinn</div>
					<div class="author-square" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradyquinn.jpg)"></div>
					<div class="content">
						<p class="item">Quarterback</p>
						<p class="item">7 years in NFL</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>