<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="column-header">
					<h2 class="title">Making it to Week 1 in the NFL</h2>
					<p class="date">September 4, 2014</p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/col-chrissnee.jpg" alt="">
					<p class="ap-image">AP Image</p>
				</div>
				<div class="column-content-wrapper">
					<p>Making it to the first game of the NFL season healthy, strong and employed is always the goal for veteran players.  
					 
					<p>Having played in the NFL for 10 seasons (all with the New York Giants), there are few things in the game that surprise me much anymore.  I thought I had August pretty much figured out.  
					 
					<p>I’ve seen devastating injuries like the one that recently ended Darnell Dockett’s season, sending the Cardinals scrambling to find a replacement.   I’ve seen players thrive or crumble in positional battles that occur down the preseason home stretch.  I’ve also seen a number of surprise roster cuts.  

					<div class="caption-image">
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/cap-mankins.jpg" alt="">
						<p class="ap-image">Former New England Patriot All-Pro guard Logan Mankins was traded during the preseason to the Tampa Bay Buccaneers - AP Image</p>
					</div>

					<p>But last week, I saw something on TV that shocked even me. <em>The Patriots traded away 6-time Pro Bowl guard, Logan Mankins to the Tampa Bay Buccaneers! </em>
					 
					<p>In my opinion, no interior lineman has played the game better than he has since he entered the league in 2005.   He can be summed up by 3 words: physical, tough and consistent.  The Patriots have been the model franchise over the past 15 years.  They have an uncanny ability of parting ways with veterans you think they can’t survive without—yet they have the same success.  
					 
					<p>I don’t know how taking away your best lineman from an offensive line that has to be labeled as 'suspect' can’t hurt a team.  Maybe it’s just me.  I will always think like an offensive lineman.  Games are won and lost up front.   
					 
					<p>If it hadn’t been proven already, Logan’s situation is a great reminder.  Getting to Week 1 in the NFL is difficult…<em>for everyone.</em> 
					 
					<h2 class="subheader">The Value of the Preseason</h2>
					 
					<p>As we enter Week 1 of the NFL season, it’s important to understand the value of what players did the last month in helping them get to where they are now.   A good vet knows exactly how hard to push their bodies through August, and what it takes to be physically ready for 16-plus games.  They know firsthand that it’s a marathon and not a sprint.  
					 
					<p>The simple importance of preseason game reps is that they allow players to play at a speed beyond practice tempo.  The biggest difference between college and the NFL is game speed.  It’s truly amazing how the speed ramps up in the various stages of an NFL season.  
					 
					<p>Defensively, the most important thing about preseason games is putting practice tackling drills to real use.  In an era that has seen tackling in practice eliminated with increased emphasis on player safety, live-tackling work in game situations is imperative.  
					 
					<p>Offensive players benefit from work on execution of plays and techniques, but also ball security.  My mindset was that my job of protecting the QB really began with those preseason games.  If I looked at the preseason games as unnecessary and played half speed, then my QB wouldn’t make it to Week 1. </p>
					 
					<p class="pull-quote">"If I looked at the preseason games as unnecessary and played half speed, then my QB wouldn’t make it to Week 1."</p>

					<p>One additional thing you learn is that no matter how much football players train during the offseason, it takes a few weeks of live action to get into top game shape.  I emphasize game conditioning because there’s a huge difference for guys like me between running sprints in shorts, and stopping a 315 lb. defensive tackle from pummeling you.  Preseason allows players to get live snaps, but measurably short of the 70-75 snap counts they’ll see in a regular season game.
					 
					<p>Most years I felt great about my conditioning after preseason games.  Yet every year, I would be sitting in my locker after our Week 1 game completely exhausted.  There’s no way to fully condition yourself for opening day.  But with the right approach, vets can survive it with a little less suffering.     
					 
					<p>My only regret once the preseason was over is starters could no longer make the mad dash into the locker room in hopes of guaranteeing themselves a halftime hot dog!  <em>I hope players enjoyed one last weekend.</em> 
					 
					<p>I’ve always despised the month of August because it was such a grind.  But I understand it.  The preseason is now past, and Week 1 means real games are here.  This summer was a reminder to never take August for granted in the NFL.
					 
					<p>Just get to Week 1.
				</div>
			</div>
			<div class="col-md-4">
				<div class="author-badge">
					
				<div class="author-badge">
					<div class="black banner right">Football <span class="by">by</span> Chris Snee</div>
					<div class="author-square" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_chrissnee.jpg)"></div>
					<div class="content">
						<p class="item">Offensive Line</p>
						<p class="item">10 years in NFL</p>
					</div>
				</div>
				<div class="under-author">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Column-Player Ad -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:300px;height:250px"
					     data-ad-client="ca-pub-2768251721679098"
					     data-ad-slot="2559373961"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>