<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="column-header">
					<h2 class="title">From Bad to Badass:  Who’ll Turn the Trick in 2014?</h2>
					<p class="date">September 8, 2014</p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/col-sage-sept8.jpg" alt="">
					<p class="ap-image">AP Image</p>
				</div>

				<div class="column-content-wrapper">
					<p>Every year, an NFL team or two comes out of nowhere and shocks the league by having a playoff season after a poor showing the previous year.  Kansas City and Carolina were the epitome of this last year.  Terrible in 2012, and in the playoffs 12 months later. Who will those teams be in 2014?  Here are three teams that I think have the best chance.
					 
					<h2>Minnesota Vikings</h2>

					<img src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/minv.jpg">
					 
					<p>With a 34-6 opening week blowout of the St. Louis Rams, Vikings players and fans have to feel encouraged by this year’s squad.  After winning just five games in 2013, MN fired Leslie Frazier and replaced him with Mike Zimmer, one of the most respected defensive coordinators in the league,
					 
					<p>Zimmer’s former players gushed about him as a coach and person.  As a former player, I think it’s always a good sign when this occurs.  Players who love their coach are more cohesive and dedicated to the team, which can lead to more wins.
					 
					<p><b><em>Why they will win...</em></b>
					 
					<p>Zimmer was lucky enough to hire Norv Turner as the offensive coordinator.  Turner has a long track record of coaching great tailbacks and tight ends, a strength of the Vikings offense.  Ladainian Tomlinson, Emmitt Smith, Ricky Williams, and Stephen Davis all had some of the best years of their careers with Norv as the OC.  Antonio Gates walked off the basketball court and into a multiple pro-bowl tight end career under Turner’s coaching.  Should be interesting to see what he does with Adrian Peterson and Kyle Rudolph.
					 
					<p>The NFC North is competitive but doesn’t have a dominant team.  The Packers have one of the best QBs in the league, but their defense struggled mightily last year.  Same story for the Bears, as Marc Trestman brought the best offense in years to Chicago.  But their defense was near the bottom of the league.  Detroit has a talented but streaky quarterback with Stafford, but continues to be an inconsistent franchise. 
					 
					<p>Though I don’t expect the Vikings to win the division, if they get a few breaks and improve on their weaknesses from last year, they have enough talent to get back into the playoffs after only a one year absence.
					 
					<p><b><em>Why they will stay bad...</em></b>
					 
					<p>In a sport that counts so much on one position, the quarterback, the Vikings have the weakest group in the division.  Matt Cassel is an excellent fit as a game manager that has played well on good teams in the past.  But he isn’t Aaron Rodgers, Jay Cutler, or Matt Stafford.  If the Vikings expect Cassel or rookie Teddy Bridgewater to carry the team on their backs, it could be a tough season. 
					The Vikings’ defense was 31st in the league and lost Jared Allen, their best player, to the Bears.  They are learning a new scheme—which always takes time—and play in an offensive minded division.
					 
					 
					<h2>Atlanta Falcons</h2>
					
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/atlf.jpg">

					<p>Anytime you beat Drew Brees and the Saints, there is plenty of reason to have hope.  That is just what Atlanta did on Sunday.  Matt Ryan threw for 456 yards in the overtime thriller. 
					 
					<p><b><em>Why the will be good…</em></b>
					 
					<p>Matt Ryan, Julio Jones, Roddy White, Steven Jackson, Harry Douglas, and Devin Hester bring a ton of talent to the table.  In my opinion, Ryan is a top 10 quarterback in the league, and has the best receivers in the NFL.  Having Julio Jones back will be a huge help—whether it’s throwing him the ball, or opening up other aspects of the offense. 
					 
					<p>Jackson struggled with injuries last year, and they found a new offensive line coach Mike Tice.  In recent history, the Falcons have been an excellent running team, but in 2013, they were dead last in rushing.  There is nowhere to go but up, and a healthy Jackson, new scheme, and elite wide receivers should improve this stat dramatically. 
					 
					<p>Matt Ryan led his team to the playoffs every year he has been in the league until last season.  He knows how to get back.  And Atlanta’s terrible 2013 wasn’t because of a lack of talent.
					 
					 
					<p><b><em>Why they will stay bad…</em></b>
					 
					<p>The NFC South is one of the best divisions in football.  The Falcons are a Super Bowl caliber team in my opinion, yet didn’t win the division last year.  Carolina surprised everyone with 12 wins a year ago, and have one of the best defenses in the league.  They also won in Week 1 despite the absence of Cam Newton.  The Bucs started over by getting Lovie Smith, who always seems to win 10 games in Chicago.  They also snagged Josh McCown from the Bears.  Josh played like a pro-bowler last year.  They have a very talented defense.
					 
					<p>Let’s go back to the running game.  Last in the league a year ago, Jackson is in the final years of an excellent career, and Tice hasn’t had a lot of success as a running game o-line coach the last couple of years.
					 
					<p>Defensively, they finished 31st in rushing defense and 29th in total defense.  This didn’t change much in week 1 as Drew Brees and the Saints put up 472 yards of offense.  Defense wins championships and with a division with 3 talented quarterbacks, this must be a concern.
					 
					 
					<h2>Miami Dolphins</h2>

					<img src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/miad.jpg">
					 
					<p>After a disastrous public relations roller coaster last year, the Dolphins replaced major elements of their offensive staff in hopes to improve from their 8-8 record.  They shocked the Patriots (survivor league pool disruptor) in week one.
					 
					<p><b><em>Why they will be good…</em></b>
					 
					<p>Despite the fiasco regarding the Incognito situation, Miami managed 8 wins despite giving up 58 sacks with Ryan Tannehill still learning the position.  Another year under their QB’s belt will be a huge help.  They also revamped their offensive line, and hired two big additions to the coaching staff.  Bill Lazor, the OC, has been around great offensive minds in his career.  He has worked for Mike Holmgren and Chip Kelly and attended an Ivy League school.  Smart guys are usually pretty good at learning from other smart guys.
					 
					<p>They also hired John Benton as their offensive line coach.  One of my favorite coaches when I played in Houston, Benton helped Houston amass monster numbers in the running and pass game while working with a line that was a mix of lower round draft picks, old vets, and Duane Brown who was a first rounder.  He’s an excellent teacher and communicator.  I expect vast improvement up front. 
					 
					<p>The defense was in the top third in the league in scoring (the most important defensive statistic), sacks, interceptions, and rushing.  They have solid talent across the board and are excellent at hounding the opposing quarterback. 
					 
					<p>The AFC East has been the Patriots division for 14 years now and I see that trend continuing.  But the Bills and Jets have very young and inexperienced quarterbacks and didn’t make the playoffs in 2013 either.
					 
					<p><b><em>Why they will stay bad…</em></b>
					 
					<p>Tannehill hasn’t become the NFL quarterback they were hoping when they made him a first round pick three years ago.  Having played wide receiver at the start of his college career, he seems to still be learning the game and still has a ways to go. 
					 
					<p>That new offensive line is well....new.  The toughest position to coach has little returning chemistry and was a disaster last year.  58 sacks is a crazy number to give up and it occurred with a very athletic quarterback, not a statue in the pocket.
					 
					<p>Assuming the Patriots win the division again, the Jets and Bills will be fighting to be in the hunt.  The Bills were second in the league in rushing last year with a rookie QB at the helm, and got a huge win at Chicago in week one.  The Jets are always tough defensively, as I believe Rex Ryan is one of the best defensive minds in the league at mixing scheme with talent.  Geno Smith started slow last year but ended the season strong with hopes of solidifying the quarterback position for the next decade or so. 
					 
					<hr>
					 
					<p>After one week, there is no way to know if any of these three week one winners is legit.  But they are off to a great start and have talent and coaches to turn the page on last year.  The Bills, Texans, and Titans all won on Sunday and could be in the mix as well.  Nobody knows quite yet which team will be the Kansas City or Carolina of last year.  One thing is certain, parity and competition in the NFL means there will be some big surprises in 2014.

				</div>				
			</div>
			<div class="col-md-4">
				<div class="author-badge">
					<div class="black banner right">Football <span class="by">by</span> Sage Rosenfels</div>
					<div class="author-square" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
					<div class="content">
						<p class="item">Quarterback</p>
						<p class="item">12 years in NFL</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>