<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="column-header">
					<h2 class="title">Reset: Forgetting the Preseason in the NFL</h2>
					<p class="date">September 5, 2014</p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/col-sept5.jpg" alt="">
				</div>
				<div class="column-content-wrapper">
					<p>It was a dark, humid night in Jacksonville, the final preseason game of the 2011 season for my St Louis Rams team. The air was heavy and moist—the kind of air in the south that can envelope you. 
					 
					<p>I was sweating profusely on the sideline even though I hadn’t played a snap in almost an hour. Many of the guys on the roster bubble were on the field, trying to make their last case to land a roster spot.   At the very least, guys were trying to put up an effort to catch another team’s eye if (or when) they got the ax.
					 
					<p>As the game wound down to the finale, optimism reigned supreme.  There was a buzz on the sideline.  We were on the verge of finishing out the preseason feeling pretty good about ourselves. We not only made it through the preseason undefeated, but in the third preseason game—our “dress rehearsal” against the Kansas City Chiefs—we dominated.

					<div class="caption-image">
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/cap-sept5.jpg" alt="">
						<p class="ap-image">Former NFL linebacker Brady Poppinga was a member of a 2011 Rams team that went undefeated in the preseason, but 2-14 during the regular season - AP Image</p>
					</div>

					<p>The third preseason game is supposed to be the greatest indicator of where you’re at as a team.  Against the Chiefs, our offense moved the ball up and down the field with ease against the Kansas City defense. That was particularly encouraging since at the beginning of the game head coach Steve Spagnolo, and offensive coordinator Josh McDaniels had decided that we would call exclusively running plays—no matter the defense or situation.  <em>Ten straight run plays to start off the game!</em>
					 
					<p>As a defense, we did much the same, deciding to just run our most vanilla defense, no matter what the personnel grouping was across from us, or the down and distance. <em>So much for game planning that third preseason game…</em>
					 
					<p>Even with our most vanilla schemes both offensively and defensively, we dominated that game. We all thought, <em>imagine what we could do if we actually game-planned. We would be unstoppable!</em> Why wouldn’t we think that, right? 
					 
					<h2 class=”subheader”>REAL GAMES</h2>
					 
					<p>We ran out of the tunnel to start off the 2011 season against the visiting Philadelphia Eagles to an absolutely electric Edwards Jones Dome. The 56,000 fans in attendance clearly shared our optimism.  After announcing the offensive starters, as a team we all huddled at midfield for one last time before kickoff.  As we broke the huddle, someone yelled, “remember guys, we haven’t lost a game yet in 2011. Let’s keep it going!”  <em>Oh, boy.</em>
					 
					<p>Unfortunately for us, our performance in the preseason was no indication of the kind of year we would end up having. We lost the first six games of the season. We ended up 2-14. 
					 
					<p>Many fans--and even some players and coaches-- think based off of preseason play that they’ve figured out the teams that are going to contend for the Super Bowl.  It’s common to also try to extract from the preseason a list of likely teams that are going to struggle.
					 

					<p class="pull-quote">“Once the regular season begins, the reset button is pressed and it’s as if the preseason never happened.”</p>

					<p>The reality is, preseason play is so far removed from what truly happens during the regular season, that you simply can’t make a reliable connection between the two things.  Because of watered down game plans, position battles, and every team trying to find that undrafted free agent who's the “diamond in the rough”, preseason games simply lack the same level of overall competitive urgency as the regular season.
					 
					<p>Some very established and excellent players either don’t suit up, or are in survival mode to just make it through their ten plays without injury. They could care less if they make a big play or not. Why? They know one undeniable fact about NFL football:  any big play they may have put their bodies on the line to make in a preseason game counts for nothing in the regular season.
					 
					<p>So for fans whose team has struggled during the preseason…<em>yes, I am talking to you Giant fans</em>…relax and see how they do “when the bullets are flying for real,” as my linebackers coach Winston Moss loved to say,  That’s when you can get a better idea of what kind of team you might have.
					 
					<p>On the flipside, for fans whose team has done really well in the preseason…tap the brakes and see how things go.
					 
					<p>Once the regular season begins, the reset button is pressed and it’s as if the preseason never happened.
				</div>
			</div>
			<div class="col-md-4">
				<div class="author-badge">
				<div class="author-badge">
					<div class="black banner right">Football <span class="by">by</span> Brady Poppinga</div>
					<div class="author-square" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradypoppinga.jpg)"></div>
					<div class="content">
						<p class="item">Linebacker</p>
						<p class="item">8 years in NFL</p>
						<p class="item">Super Bowl Champion</p>
						<p class="item">Green Bay</p>
					</div>
				</div>
				<div class="under-author">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Column-Player Ad -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:300px;height:250px"
					     data-ad-client="ca-pub-2768251721679098"
					     data-ad-slot="2559373961"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div></div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>