	<%= include header %>
	<div class="main-articles">
		<div class="container">
			<div class="error">
				<h2>404 Error</h2>
				<h3>Looks like that page doesn't work.</h3>
				<p>Check out the <a href="/">Home Page.</a></p>
			</div>
		</div>
	</div>
	<%= include footer %>