<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="column-header">
					<h2 class="title">Fantasy Week 2 - The Wire</span></h2>
					<p class="date">September 10, 2014</p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/thinktank/col-thinktank.jpg" alt="">
				</div>
				<div class="column-content-wrapper">
					<p>There were a lot of major surprises in Week 1 of the NFL season. The Dolphins channeled their inner-Belichick to run away from the Pats in the second half.  The Jaguars had all the Vegas odds-makers sweating bullets after the first half of play against the Eagles.  And Antonio Brown blessed the Brown’s punter with the Liu Kang bicycle kick to the dome! 

					<p>Damn, everything is right in the world now that the NFL has reentered our lives. But let’s get to why you’re really here, to determine which players on the waiver wire can help your team win NOW!

					<h2>QB’s</h2>

					<p>I actually like what I saw out of <b>Chad Henne</b>. Though I feel the Jags may go to Bortles if they lose a few more early games, Henne proved he could move the offense effectively and made great decisions with the football. 

					<p>This sentiment also applies to <b>Matt Cassel</b>, though he has a better cast of characters surrounding him. Another guy to keep an eye on is Jake Locker. I don’t think KC’s defense is as stout as they were last year, but he still played a very efficient game with no turnovers. At the very least, he’s worth tracking. 

					<p>
						<img class="buyer-beware" src="https://s3.amazonaws.com/footballbyfootball-dev/thinktank/buyerbeware.jpg" alt="" style="display: inline-block;">
						<b>Buyer Beware: Joe Flacco</b>
					</p>

					<p>Flacco was the 5th highest scoring fantasy QB after the games concluded on Sunday, but his decision making during the game makes me question his production moving forward. Even though Flacco threw for 345 yards, he completed a little over 50% of his passes and also had an interception. He also made the bonehead play of the day when he failed to throw the ball away at the end of the first half, costing his team a field goal opportunity. Joe needs to play at a higher level to justify that fat contract before he becomes the next Ravens star to have his contract terminated…. 

					<h2>RB’s</h2>

					<p>With Ben Tate suffering a knee injury, the Browns got a lot of production from two rookie running backs, <b>Terrance West</b> and <b>Isaiah Crowell</b>.  If Tate is out for an extended period of time, look for the Browns to lean on these young legs early and often. Place an emphasis on picking up <b>West over Crowell</b>. 

					<p><b>Bobby Rainey</b> exploded on the fantasy landscape late last season and he may have an opportunity for an encore. If Doug Martin’s knee keeps him out of the line up, look for Rainey to have good outings against the Falcons and Steelers in Week 3 and 4, respectively.  Just don’t expect much against the Rams stifling run defense in Week 2. 

					<p><b>Shady McCoy</b> is a beast so there’s no reason to have <b>Darren Sproles</b> on your roster, right?  Wrong! Sproles is going to get a lot of burn in two RB sets as well as spelling McCoy.  D Sproles is a very talented back who is great in space. He fits perfectly in Chip Kelly’s offense and he will be used on a regular basis. Pick him up. 

					<p>
						<img class="buyer-beware" src="https://s3.amazonaws.com/footballbyfootball-dev/thinktank/buyerbeware.jpg" alt="" style="display: inline-block;">
						<b>Buyer Beware: Chris Ivory</b>.
					</p>

					<p>. Ivory had 10 carries for 102 yards, of which 71 came on a long TD run. <b>Chris Johnson</b>, formerly known as CJ2K, carried the ball 13 times for 68 yards and had 5 catches for 38 yards and a TD. This will be a running back by committee situation for the foreseeable future, so don’t count on consistent production from Ivory moving forward. 

					<h2>WRs</h2>

					<p><b>CORDARELLE PATTERSON IS A BEAST!!</b> I picked up this kid last year and he balled to finish the year. Well, he’s picked up right where he left off. Whether he’s catching deep bombs, busting crack screens for big yardage or taking tailback sweeps to the house, this kid is a big play waiting to happen! <b>Markus Wheaton</b> responded to the preseason criticism with a big Week 1. Wheaton came up with two huge catches late to put Pittsburgh in field goal position and finished the game with 6 catches for 95 yards. With Antonio Brown receiving the full attention of defensive coordinators, Wheaton should receive and exploit 1-on-1 matchup on a consistent basis. Write that down! 

					<p>Did <b>Reggie Wayne</b> really tear his ACL last year?! If so, you couldn’t tell after his performance against the Broncos Sunday night. Reggie caught 9 passes for 98 yards and looked like the Reggie circa 2010. Great route running and got in and out of his breaks. Look for Reggie to remain the Colts #1 WR for the foreseeable future. 

					<p>
						<img class="buyer-beware" src="https://s3.amazonaws.com/footballbyfootball-dev/thinktank/buyerbeware.jpg" alt="" style="display: inline-block;">
						<b>Buyer Beware: Allen Hurns</b>.
					</p> 
					<p>Hurns started off his NFL career with a blaze of glory. 4 catches for 110 yards and 2 TDs! Well, guess what? It ain’t happening again.  <b>Cecil Shorts</b> will be back and <b>Marqise Lee’s</b> talent will command a lot of looks as well. Let another sucker in your league waste a roster spot on Hurns. Not worth the click, homie!

					<h2>TEs</h2>

					<p><b>Jordan Reed</b> is hurt again. What’s new? Well, <b>Niles Paul</b> filled in nicely with 4 catches for 86 yards and a tub! If Jordan Reed is out for a while, look for Paul to fill in nicely in his absence. Let’s just hope he doesn’t catch the dreaded Redskins TE injury bug (Cooley & Reed). 

					<p>Even though the Giants’ offense rivaled a Pee Wee league spread offense, <b>Larry Donnell</b> put his name on the fantasy radar after catching 5 passes for 56 yards and a TD.  He led the team in targets.  Expect that trend to continue. The Giants O-line is hot garbage. Period. 

					<p>
						<img class="buyer-beware" src="https://s3.amazonaws.com/footballbyfootball-dev/thinktank/buyerbeware.jpg" alt="" style="display: inline-block;">
						<b>Buyer Beware: Greg Olsen</b>.
					</p>

					<p>Trust me; I’d love to have Olsen on my team. He was one of my starting TEs last year. But do you expect him to consistently put up numbers comparable to his Week 1 performance? I hope not. Though he should be Cam Newton’s 2nd best passing option, I don’t believe their scheme will allow him to remain in the top 5 for TEs. So if you’re in desperate need of a starting TE, make sure you don’t overpay for results you may not see again. 


					<h2>K</h2>

					<p>I refuse to go in depth on kickers.  Listen; find a team with a really good offense that has a tough defensive match up that week.  What’s the logic?  The offense should move the ball until they get in the red zone and then they’ll likely have to settle for a few field goals. Not good for Drew Brees, Aaron Rodgers or Nick Foles owners, but your fantasy team will benefit quite nicely. 

					<h2>DST</h2>

					<p>Who’s Eli playing next week?!  <b>Arizona</b>, huh? Well, there you go!  Also, the Packers may be worth a start in Week 2.  Geno Smith played well against the Raiders, but can he repeat against a hungry <b>Packer</b> defense looking for their 1st win? I don’t think so either so roll with the Pack if you need a Week 2 fill in. 

					<p>
						<img class="buyer-beware" src="https://s3.amazonaws.com/footballbyfootball-dev/thinktank/buyerbeware.jpg" alt="" style="display: inline-block;">
						<b>Buyer Beware: Vikings DST</b>.
					</p>

					<p>The Vikings played well against the Rams and I actually expect them to be decent this year. They have a young D-line that can pressure the QB, a rejuvenated corps of linebackers and a young secondary eager to prove a point. That being said, they have a date with the Pats who will be looking to prove a point of their own after losing their season opener for the first time since 2003. The Golden Boy, TB 12, doesn’t have many consecutive bad games so I wouldn’t count on one this week. 



				</div>
			</div>
			<div class="col-md-4">
				<div class="author-badge">
					<div class="black banner right">Football <span class="by">by</span> Tank Williams</div>
					<div class="author-square" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_tankwilliams.jpg)"></div>
					<div class="content">
						<p class="item">Defensive Back</p>
						<p class="item">7 years in NFL</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>