<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="column-header">
					<h2 class="title">Fantasy Week 1 - The Fallout</span></h2>
					<p class="date">September 10, 2014</p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/thinktank/fan-fallout-sept10.jpg" alt="">
				</div>
				<div class="column-content-wrapper">
					<p>So how did my Week 1 picks turn out?! I think the perfect descriptor is “meh”, but you can’t win them all.  I have a newfound respect for the Matthew Berry’s in the world but don’t count me out yet!  We may have gotten off to a rough start, but there’s a lot to build on and it’s a long season. Let’s dig in!

					<h2>Phillip Rivers</h2>

					<p>Oh Philly!  When I expect you to come through, you pull a Phil Mickelson on me instead.  Phillip dropped several dimes against pressure defenses but then mishandled a snap on a pivotal 3rd down that cost his team a FG opportunity. Though Keenan Allen and Antonio Gates contributed to his struggles with several drops, Phillip wasn’t able to take advantage of the one-on-one matchups away from Patrick Peterson. Maybe he can bounce back next week against Seattle DST…YEAH RIGHT!!!


					<h2>Mark Ingram</h2>

					<p>According to the New Orleans Times Picayune, Mark Ingram had a 3rd quarter tirade on the sideline preceding his two second half touchdowns. He must’ve been channeling the frustration of his fantasy owners who also wondered why he only had 11 yards on four carries in the first half. Yet Ingram channeled that emotion into a great second half performance, rushing for 60 yards and two touchdowns on 13 carries. He didn’t accept a congratulatory handshake from Sean Payton after the first touchdown, but if he keeps running like a young Corey Dillon, he’ll gladly accept a fat check from Tom Benson this offseason. 

					<h2>Ladarius Green</h2>

					<p>Gates suited up and looked like the Gates of old. He led the team in targets and receiving yards. If Gates didn’t play, imagine what Green’s numbers would’ve looked like. I’m just saying…..

					<h2>Michael Crabtree</h2>

					<p>Does the Dallas Cowboy defense suck?  Absolutely.  Did the 49ers’ offense exploit weaknesses in the Cowboy defense to pull out a commanding Week 1 win?  Yep.  Did Michael Crabtree play a pivotal role in the offense?! DOH!!  Anquan Boldin and Vernon Davis picked up where they left off last year while Crab was just a spectator in his homecoming to the state of Texas. Crab finished the game with four targets and two catches for 25 yards. Was it the calf?  Possibly, because it damn sure wasn’t the Cowboy defense. I’ll take a draw on this call. 

					<h2>Nate Frees</h2>

					<p>During my playing days, the kickers I played with were some of my favorite guys to talk to in the locker room, but when it comes to fantasy football, I HATE THEM! Nate Frees trotted out to kick his first NFL field goal and shanked it wide left. Of course he did! It never fails! But because I had little faith in a rookie kicker, even though he had a great matchup, I switched my kicker last minute to the Eagles’ new kicker, Cody Parker–another ROOKIE! But unlike Mr. Frees, Cody booted four extra points and two field goals to give me solid production from my kicker. WAY TO DO YOUR JOB, ROOK!! 

					<h2>Buccaneers DST</h2>

					<p>Cam Newton was inactive, yet Superman still made an appearance. Well, Derek Anderson’s performance was more Clark Kent yet it was still effective as the Panthers withstood a late rally by the Bucs to win 20-14. What’s my analysis? “Shit happens when you party naked!” As I learned during my playing career and as many have learned over the years of playing fantasy football, sometimes units who’ve received a lot of criticism rise to the occasion and surprise onlookers with their production. That’s the only way I can explain how a no name receiving corps led by a talented rookie and a QB who made his first start since Dec 2010 managed to pull out a Week 1 victory. 
				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>