<!doctype html>
<html>
<head>
	<title>Football by Football</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/app.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<script src="/js/jquery.1.9.min.js"></script>
	<!-- <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script> -->
	<script type="text/javascript" src="//use.typekit.net/vnz8awm.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body class="<% if (locals.page_type) {%><%= page_type %><%} %>" >
	<% if (locals.page_type && page_type =='home') {%>
	<div class="masthead">
		<img src="/img/logo-masthead.png" alt="" class="big-logo">
	</div>
	<%} %>
	<div class="topbar">
		<div class="container cf">
		<% if (locals.page_type && page_type =='home') {%>
			<p class="today">Today, September 8, 2014</p>
		<% } else if (locals.page_type && page_type =='column') { %>
			<div class="logo"><a href="/"><img src="/img/logo-blackbanner.png" alt=""></a></div>
		<% } else if (locals.page_type && page_type =='lockerroom') { %>
			<div class="logo"><a href="/"><img src="/img/logo-whitebanner.png" alt=""></a></div>
		<% } %>
			<div class="right-side">
				<a href="https://twitter.com/FBbyFB" target="_blank" class="article-links"><span class="fa fa-twitter"> Twitter</span></a>
				<a href="https://www.facebook.com/FootballByFootball"  target="_blank" class="article-links"><span class="fa fa-facebook"> Facebook</span></a>
			</div>
		</div>

	</div>