	<%= include header %>
	<div class="main-articles">

		<div class="container">

		<% var 	tmp_date = '',
					 	tmp_day_entries = [];
					 	first = true; %>

		<% entries.forEach(function(entry){ %>

			<% if (entry.updated_at == tmp_date) { %>

				<% tmp_day_entries.push(entry); %>

		  <% } else { %> 
				<% if (tmp_day_entries.length > 0) { %>

					<div class="row">
						<%= include day-container %> 
					</div>

					<%first = false; %>	
				<% } %>

				<% tmp_date = entry.updated_at %>
				<% 	tmp_day_entries = []; tmp_day_entries.push(entry); %>

		  <% } %>

	  <% }); %>

		<% if (tmp_day_entries.length > 0) { %>

			<div class="row">
				<%= include day-container %> 
			</div>
			<% 	tmp_day_entries = []; %>

		<% } %>
		</div>

	</div>
	<%= include footer %>