<div class="medium-article lockerroom">
	<div class="white banner right big"><h5>LOCKER ROOM:</h5></div>
	<div class="headline">
		<div class="inner-content">
			<div class="copy"><a href="/lockerroom/<%= entry.slug %>"><h3><%= entry.title %></h3></a></div>
		</div>
	</div>
</div>
<div class="locker-authors">
	<div class="locker-author-wrap">
		<% entry.lockerentries.forEach(function(lockerentry){ %>
		<div class="author-image-wrap">
			<div class="author-image" style="background-image: url(<%= lockerentry.player.image_url %>)"></div>
		</div>
		<% }); %>
	</div>
</div>