<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="column-header">
					<h2 class="title">Locks of the Week</span></h2>
					<p class="date">September 7, 2014</p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/col-locks.jpg" alt="">
				</div>
				<div class="column-content-wrapper">
					<div class="lock cf">
						<h2 class=”subheader”>Brady Quinn:</h2>
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/newp.jpg" alt="" style="float: left;">
						<em>NEW ENGLAND over Miami</em>
						New England travels to hot and humid Miami. Don't expect the Patriots to cool off, as Tom Brady takes advantage of soft coverage on the perimeter as Brent Grimes and Cortland Finnegan playing back to respect Defensive Coordinator Kevin Coyle's blitz scheme.  No one on Miami's defense will being able to match up with Rob Gronkowski.  That duty could likely go to Jimmy Wilson...could be in for a long day.
					</div>

					<div class="lock cf">
						<h2 class=”subheader”>Sage Rosenfels:</h2>
						<p><em>MINNESOTA over St. Louis</em>
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/minv.jpg" alt="" style="float: left;">
						<p>Going into Week 1 of the NFL season, every team has the guy they’ve hand-picked to be their starter for opening day.  Every team the St. Louis Rams.  That’s why I’m making the Minnesota Vikings as my lock of the week.
						 
						<p>Shawn Hill is one of the better backups in the league.  Some years it seems like he plays better than the high paid starters.  But he’s had little work the last couple of years and will be challenged by a revamped Zimmer-led defense.
						 
						<p>Though they have an excellent defensive line, the Rams gave up 212 yards against AP two years ago and that will be where this game is decided.  Norv Turner has historically done great things with premier backs over the years, and I expect the Vikings to get an early lead and pound out a win on All-Day’s shoulders.  Per usual. 
					</div>

					<div class="lock cf">
						<h2 class=”subheader”>Drew Bennett:</h2>
						<em>NEW ENGLAND over Miami</em>
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/newp.jpg" alt="" style="float: left;">
						<p>New England will take down Miami handily.  Nobody hides more players, formations and strategy during the preseason than Bill Belichick.  They’re always a tough Week 1 matchup because of this.  Miami needs about 2 more months before their weather really gives them an advantage. 
					</div>

					<div class="lock cf">
						<h2 class=”subheader”>Matt Chatham:</h2>
						<em>JETS over Oakland</em>
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/newj.jpg" alt="" style="float: left;">
						<p>The Jets cornerback situation seems in a bit of disarray.  Oakland is literally the last team I can think of in the NFL to take advantage of that situation.  New Jersey is a tough road trip.  With rookie quarterback Derek Carr getting tossed into the fire against a Rex Ryan defense the majors in confusing looks you can’t find on previous weeks’ game tape, this matchup just feels like one where many punts will be thrown. 
					</div>

					<div class="lock cf">
						<h2 class=”subheader”>Chris Snee:</h2>
						<em>SF over Dallas</em>
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/san4.jpg" alt="" style="float: left;">
						<p>There's a reason why SF has been to 3 straight NFC championship games, they dominant the line of scrimmage. I expect the Niners to rush for 200 yards behind their big fellas against this Cowboys defense—and that's not including Kap's runs. 
					</div>

					<div class="lock cf">
						<h2 class=”subheader”>Earnest Byner:</h2>
						<em>DENVER over Indy</em>
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/locksoftheweek/denb.jpg" alt="" style="float: left;">
						<p>Of course I like Denver, but not because of Peyton .  It's their defense that will decide this game.  They've added some more weapons (Demarcus Ware, T. J. Ward and Aqib Talib) to an already solid attack-style D.  Indy struggles early, Denver in a big win.   
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>