<%= include header %>
<div class="lockerroom">
	<div class="lockerroom-header" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer.jpg);">
		<div class="container">
			<h1 class="title">Locker Room: Best Week One NFL Memory</h1>
		</div>
	</div>
	<div class="lockerroom-content">
		<div class="container">

			<div class="row">
				<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Sage Rosenfels
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
					</div>
					<div class="lockerrooom-entry-content">
						<p>My favorite season opening game came in 2010 as a member of the New York Giants. I had been traded from the Vikings just eight days prior after Brett Favre came back for a second year with that team. I was swimming mentally, as I spent every waking second that week trying to learn Kevin Gilbride’s offense. 

						<p>The reason that game is so special to me is because it was the regular season opening of Met-Life Stadium. Coach Tom Coughlin mentioned the importance of the game, knowing that the score would be noted in the team program for decades to come. We beat the Carolina Panthers in the spectacular $1.6 Billion stadium.  But the best part for me came after the game. 

						<p>Sitting next to Eli Manning in the locker room as the media started to flow in, I saw him take off his jersey and stuff it into his personal bag. I’d never taken a jersey after a game before, so I was hesitant to copy him. I asked Eli “Is it OK if we take our jerseys?” He responded “I’m taking this one.” 

						<p>I still have that jersey sitting in my closet. It has a patch on the shoulder commemorating the game. Not a word was said to me in the following days as to the whereabouts of my jersey. Believe it or not, most teams would have charged me for it.  That was my first taste of why so many people say the Giants are one of the classiest teams to play for in the NFL. 
					</div>
				</div>
			</div>


			<div class="row">
				<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Matt Chatham
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
					</div>

					<div class="lockerrooom-entry-content">
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/lock-ozzysigned.jpg" alt="" style="float: left; padding: 20px; padding-left: 0;">

						<p>The 2005 Thursday NFL Kickoff game had all the energy, pomp and circumstance that you’d expect from an NFL opener. But that one was different. 
						 
						<p>It wasn’t just banner night in New England.  It was 3-outa-4 banner night.  We’d gotten pretty good at that kind of party. 
						 
						<p>Playing on national TV for the opening game of any NFL season was pretty cool.  Playing against a Raiders franchise I grew up rooting for was even cooler.  Having Ozzy Osbourne play “Crazy Train” LIVE right behind us as we ran out of the inflatable helmet onto the field?  Miles Davis wallpaper in an igloo can’t touch that.   
						 
						<p>Prior to the game, I spied Ozzy Osbourne and his wife Sharon strolling through the conservative halls of Gillette Stadium.  That-there folks is first-class juxtaposition. 
						 
						<p>I headed to the cafeteria to grab a bite to eat. After chow, I returned to the locker room to find a single autographed copy of Ozzy’s “Prince of Darkness” box set resting on each of the sixty-plus locker stools. 
						 
						<p>Ozzy Osbourne stuff isn’t a very high-demand item in an NFL locker room, so I walked away that day with a dozen or more of those unwanted gems.  I’ve given most of them away over the years as auction items for charity events, but I still keep one today in a desk drawer in my office. 
						 
						<p>As long as I was a Patriot, we’d always run onto the field in pregame with “Crazy Train” blaring.  I wouldn’t describe myself as an Ozzy fan necessarily.  But I dug the song for what it did; provide that lil’ pregame jolt before I ran into things. 
						 
						<p>When Ozzy himself kicked off that anthem with his famous cackle, I giggled to myself throughout the sprint onto the field.  “Crazy Train” is now a prominent song on the soundtrack of my life.  No argument here...that’s super weird. 
						 
						That evening provided the best Week 1 memory from my football career by a long shot.  And if at any point that memory starts to slip away, it’s just a tug on a desk drawer away.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="lockerroom-entry">
				<div class="lockerrooom-entry-title">
					Football <span class="by">by</span> Brady Poppinga
					<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradypoppinga.jpg)"></div>
				</div>

				<div class="lockerrooom-entry-content">
					<p>The year was 2007.  In ‘06, we finished the year 6-2 with a big-time win against the eventual NFC Champion Chicago Bears. Packer fans were eager to see if this year's team could ride the momentum. 
 
					<p>Today was opening day against a very good Philadelphia Eagles team.  Hope was everywhere in Packer Nation. Walking out of the tunnel into the jam-packed Lambeau Field Stadium, you can always smell the BBQ wafting in from the surrounding tailgate festivities.  But today it just smelled better.    
					 
					<p>Taking the field, I glanced over to the Eagle’s sideline, catching the eye of my fellow BYU alumnus, Head Coach Andy Reid. We both nodded, but that was it.  In an instant, a battle would ensue.  On this day, pleasantries would be brief.   
					 
					<p>Back and forth, both defenses played stellar. With 2 seconds left and the score tied 13-13, our rookie kicker trotted out to attempt a 42 yard field goal for the win. Watching from the sidelines, I thought, What a crazy game! All this buildup and it comes down to the leg of this rookie kicker!?
					 
					<p>The snap was high, but the holder got it down and placed so there was no loss of rhythm for the kicker. The kick sailed well to the right of the uprights. But at the last second, like a hooking golf shot, the ball drew back to the middle. Right between the uprights! Packers win!!
					 
					<p>The place shook like we’d just won the Super Bowl. Now THAT’s an NFL opener!
					 
					<p>And then it hits you.  We’ve still got a ton of games to go…
				</div>
			</div>
		</div>
	</div>

</div>
<%= include footer %>