<%= include header %>
<div class="lockerroom">
	<div class="lockerroom-header" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer.jpg);">
		<div class="container">
			<h1 class="title">Locker Room: What Do You Make of the New Illegal Contact "Emphasis"? </h1>
		</div>
	</div>
	<div class="lockerroom-content">
		<div class="container">

			<div class="row">
				<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Matt Chatham
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
					</div>

					<div class="lockerrooom-entry-content cf">
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/lock-mattflag.jpg" alt="" style="float: left; padding: 20px; padding-left: 0;">

						<p>The idea that someone in the NFL thought emphasizing “illegal contact” was a good idea is hard to swallow if you love football.  Not grabbing or holding, mind you.  Touching. 
						 
						<p>Touching. 
						 
						<p>Imagine armor-clad knights getting all dressed up only to be punished for touching one another.  It’s completely asinine. 
						 
						<p>That said, unfortunately you have to deal with stupid in today’s NFL.  So how does a linebacker, who lives his professional life at the edge of the illegal contact zone 5 yards from the line of scrimmage, still do his job? 
						 
						<p>Under these circumstances, your best chance is to first count away from the line of scrimmage before the snap to get a sense of where you’re standing...at 3, 4, or 5 yards, etc.  From there, once the play has started, remember about where you began and hope the action doesn’t cause you to lose that exact reference point.  In other words, yeah right.     
						 
						<p>An off-the-ball linebacker is generally covering someone from the box (a tight end or back) that he has to absorb and cover as they run their route.  Sometimes the linebacker is aligned over a wide receiver to disrupt his release and then drop into a zone.  It should go without saying, but all the dudes a linebacker has to cover are fast as hell and/or exceptionally quick. 
						 
						<p>Imagine the player the linebacker is covering goes in motion.  Or he runs his route crossing another eligible receiver’s path, and in the chase the linebacker’s responsibility switches to another player. Or as he steps up to meet a running back in the hole, the back fakes protection and then releases into the pattern.   
						 
						<p>Suffice it say, you don’t turn and start counting white lines.  A rule that requires you to do so without committing a game infraction is clearly idiotic.  At best, it’s a guessing game in real time for players.  Always has been, always will be. 
						 
						<p>The players are there to compete against one another.  Not against a poorly written and conceived rule infatuation. 
						 
						<p>As a player, you just do your best and hope you get lucky until the officials remember strict interpretations of the rules are hopelessly unrealistic.  It’s an exercise for everyone involved in playing pretend. 
						 
						<p>The NFL season will go on.  Hopefully for football players and fans, the ‘emphasis’ on illegal contact won’t.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="lockerroom-entry">
				<div class="lockerrooom-entry-title">
					Football <span class="by">by</span> Drew Bennett
					<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_drewbennett.jpg)"></div>
				</div>

				<div class="lockerrooom-entry-content cf">
					<p>Just another Emphasis Scare

					<p>The new ‘point of emphasis’ on illegal downfield contact heading into the 2014 season is the same speech that NFL officials and the NFL competition committee have been spitting out for over a decade.  For 8 years (2001-2008 seasons) I sat in an NFL officials meeting during training camp and listened to ‘points of emphasis’ for the upcoming season.  At least 5 of those years we, as receivers and defensive backs collectively, were told that downfield contact and holding was going to be a focus point and scrutinized more tightly.  It never changed long term, and this year will follow the same pattern.  

					<p>To be clear, this isn’t to say that the game hasn’t been slanted in favor of offense.  Offense, as the NFL sees it, puts people in the seats and advertisers on an easy sell.  This transformation happened years ago and is the subject of a separate debate.

					<p>Here’s the life-cycle of the new point of emphasis.  To start, there will be more flags.  Referees will be on heightened alert for all contact downfield and will want to prove that they are respecting the “new” rule, the NFL competition committee and the NFL executive office.  But players have trained years—some decades—at footwork, handwork and strategy.  Those techniques are now instinct.  Although for the last month they’ve been told they can’t do something in practice, or have been flagged for something in a preseason game, that doesn't mean they won’t revert back to what has been ingrained.  

					<p>When their livelihood depends on their performance over a 2 second time frame, a new rule that has been deemed an ‘emphasis point’ isn’t going to matter.  

					<p>With this said, referees don’t want to determine the course of real games or be the focal point.  Coaches, players, and most importantly fans, get extremely irritated when they feel that players aren’t allowed to play freely…or take a back seat to referees. This will quickly bring the downfield level of contact and hand use back to what it has been for the last 8-10 years.

					<p>This latest round of emphasis talk is just another waste of time.
				</div>
			</div>

			<div class="row">
				<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Sage Rosenfels
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
					</div>
					<div class="lockerrooom-entry-content cf">
						<p>The much criticized illegal contact rule and its “point of emphasis” will have an impact for the quarterbacks this year.  If it continues to be called as it has been in the preseason, there will be certain teaching points that the older quarterbacks may use to help their team.
						 
						<p>Let me state something that most people already know, the veteran quarterbacks are an extended arm of the coaching staff and a direct link to the players.  Coaching points that come from a quarterback to a player often times have much more impact than that from the coaches themselves.  So throughout the week, the solidified veteran quarterbacks will have some of their own meetings and discuss routes and coverages with their wide receivers.  During this time, many other things are discussed, such as game situations and what the quarterback may be thinking.
						 
						<p>This is where I feel this “point of emphasis” may be used.  In the past, receivers have been coached to use leverage and other techniques to gain separation from the defender.  The simplified rule is that if a defender is there first, he has the right to his ground.  There were instances in the preseason of receivers or tight ends running right into the defensive player who was there first, earning a flag for illegal contact. 
						 
						<p>I think that quarterbacks may use that to their advantage, and rather than avoiding contact, embrace it.  Encourage contact to their receivers, and hope for the call—especially on 3rd & long. 
						 
						<p>Because even if it’s 3rd and forever, a five yard illegal contact penalty means an automatic first down.  Advantage:  offense. 
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<%= include footer %>