<%= include header %>
<div class="lockerroom">
	<div class="lockerroom-header" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer.jpg);">
		<div class="container">
			<h1 class="title">Locker Room: Favorite Friday Food in the NFL</h1>
		</div>
	</div>
	<div class="lockerroom-content">
		<div class="container">

			<div class="row">
				<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Tank Williams
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_tankwilliams.jpg)"></div>
					</div>

					<div class="lockerrooom-entry-content cf">
						<div class="caption-image">
							<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/lockcap-tank.jpg" alt="">
							<p class="ap-image">The colossal bacon cheeseburger from Fat Mo's in Nashville, Tennessee</p>
						</div>

						<p>As an NFL safety who was one chicken wing and a Twix away from becoming a weak side linebacker, I like to think I’m a credible source when it comes to the finer points of culinary art. So it’s my pleasure to tell you about the one locker room meal that would always make my mouth water and my cholesterol rise before taking my first bite—the bacon cheeseburger from Fat Mo’s in Nashville, Tennessee.
						 
						<p>This colossal burger has a huge all beef patty cooked to perfection, with crispy bacon and caramelized onions, bathing in gooey melted cheddar cheese with all the trimmings, on a bed of golden fries. This burger had the “ITIS” written all over it, and it never disappointed. It would seemingly tuck you in, kiss you on the forehead and turn off the lights…an inevitable food coma.
						 
						<p>We’d have our rookie defensive backs pick up Fat Mo’s before our flights for away games.  It was always funny to see how this meal affected the mood on the plane. Usually guys would either study their playbooks or play card games on the flight.  But on a Fat Mo trip, there would only be a sea of reclined chairs and a symphony of snores.    
						 
						<p>How can you compete with a meal that provides some of the best eats and sleep you’ll ever get in one package?  You can’t. And that’s why Fat Mo’s is one of my favorite locker room meals as a player.
						 
						<p>So if you’re ever in Nashville, give it a try.  The “ITIS” awaits!
					</div>
				</div>
			</div>

			<div class="row">
				<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Grey Ruegamer
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_greyruegamer.jpg)"></div>
					</div>

					<div class="lockerrooom-entry-content cf">
						<div class="caption-image">
							<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/lockcap-grey.jpg" alt="">
							<p class="ap-image">Pizza and beer are key ingredients in NFL team building</p>
						</div>

						<p>Call me Paleo, Atkins, Carb Lover, or Cookie Diet extraordinaire.  They all work and I love ‘em.  But they fall short in preparing for performing in the NFL. The best diet in the world to reach the pinnacle of athletic achievement?  Hot sauce smothered chicken limbs, freshly fermented nectar of barley and cheese topped gluten greatness, not necessarily in that order.

						<p>You see, every Friday afternoon during the NFL season the meal awaiting us after practice was usually pizza and wings. Guys would file in the door, grab a pizza and a box of wings and scurry off to the cafeteria or locker room to consume excellence. While digesting, we would make plans to rehydrate and further carb load for the game at a local happy hour spot.  Nutritionist will tell you to start eating for performance at least 2 days before competition.  We follow directions.

						<p>I am a firm believer in those times of bonding with teammates over “nutritionally sound” meals. We didn’t take short cuts. To achieve the right carb-to-protein ratios, we included adequate amounts of liquid gold to aid in the assimilation to our guts.  It was a time for us to refresh, talk smack, and build the frame work of trust required to win a championship.

						<p>Was it the wings, pizza and beer? Hell yeah! I’ve played for a National Championship in college and won two Super Bowls. Team unity was always tight. I’ve listened to great nutritional advice about clean eating and performance for years and generally agree. 
						But when it comes to team-building, trust and performance?  Fill that frosty mug, cut me a slice and pass the ranch! I’ll eat a salad later.

					</div>
				</div>
			</div>

			<div class="row">
				<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Sage Rosenfels
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
					</div>
					<div class="lockerrooom-entry-content cf">
						<div class="caption-image">
							<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/lockcap-sage.jpg" alt="">
							<p class="ap-image">Red Beans and Rice</p>
						</div>

						<p>Growing up in a small town in eastern Iowa, Popeye’s Chicken wasn’t exactly on the radar of places my family would visit when dining out.   I’m not even sure if there was a Popeye’s within two hours of little Maquoketa, Iowa.  But almost every team I played for, the carousel of Friday lunch almost always included Popeye’s as part of their selection.  
						<p>Though not the healthiest of food choices, nothing brings a group of men from all backgrounds together like Popeye’s.  I usually had a piece or two of the chicken but it was the rice and beans that I most looked forward to.
						 
						<p>My mom (just like yours, I’m sure) is a great cook who had a wide variety of amazing meals prepared for us after practices and games when I was growing up.  Homemade spaghetti, roasts, casseroles, jambalaya, chili, fresh made bread, etc. etc.  She is well known amongst my family and friends for her top-notch cooking. 
						 
						<p>But somehow, she had never introduced me to red beans and rice.  What an amazing combination.  So simple, yet one bowl is never enough.
						 
						<p>So thank you NFL.  One of the beauties of life in the NFL is you get introduced to a lot of new things over the years.  Red beans and rice will be passed down to my kids.  And hopefully to theirs. 
					</div>
				</div>
			</div>


			<div class="row">
				<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Earnest Byner
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_earnestbyner.jpg)"></div>
					</div>
					<div class="lockerrooom-entry-content cf">
						<p>Friday in the NFL is the day we come in early, but we also get off early.

						<p>Lunch is generally brought in from outside sources on this day. Some have Micky D’s, Popeyes and other traditional fast foods. These are always good... hit ‘em up and roll on.  
						 
						<p>When my career took me to Washington, I was now on a team that had won Super Bowls, so I’m assuming the food is going to be next level as well.  Off the hook, off the chain, set off...you get my drift.

						<p>The Friday practice for the Washington Redskins in my day was in shoulder pads and shorts.

						It was Friday, but it was still real.  We definitely expended the necessary energy to earn a good lunch.
						 
						<p>McDonald’s?  Popeyes?  Nope.  We did The Alpine Restaurant, an upscale Italian institution owned by Ermanno Tonizzo in Arlington, Virginia. 

						<p>They brought it out to Redskin Park and set up a buffet line. We’d have Italian sausage, chicken sautéed in an incredible sauce, and pasta. It's done with sliced chicken, rigatoni and some great mushrooms. It was SO good!

						<p>They brought enough so we could take some home, so wifey also got to partake. What a deal! It was good enough for us to go to after the games, but worked great as a Friday lunch as well.
						 
						<p>The Alpine was such a treat and one of the great NFL traditions! 
					</div>
				</div>
			</div>			
		</div>
	</div>

</div>
<%= include footer %>