<%= include header %>

<div class="lockerroom">
	<div class="lockerroom-header" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer.jpg);">
		<div class="container">
			<h1 class="title">Locker Room: Who's The Best Player You Ever Played With?</h1>
		</div>
	</div>
	<div class="lockerroom-content">
		<div class="container">
			<div class="col-md-8">
	
				<div class="row">
					<div class="lockerroom-entry">
						<div class="lockerrooom-entry-title">
							Football <span class="by">by</span> Brady Poppinga
							<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_bradypoppinga.jpg)"></div>
						</div>

						<div class="lockerrooom-entry-content cf">
							<div class="caption-image full-width">
								<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/lock-cwoodson.jpg" alt="">
								<p class="ap-image">Charles Woodson - AP Photo</p>
							</div>

							<p>The blow horn rang with a defining sound indicating that the team portion of practice was commencing.  As we huddled up to take on the starting offense, we noticed we were one player short. Off in the distance, you could see number 21 moseying toward the huddle. Wearing a black wrist watch with his gloves hanging off of his face mask, Charles Woodson looked more like we were participating in a pre-practice walk-through than a full speed scrimmage.

	 						<p>As we practiced, Charles would do just enough to stay with the receiver. If his guy caught the ball, he wouldn’t even make an attempt to break up the pass. In film study, Woodson’s practice habits almost caused our coaches to lose their minds. But, what kept them from ripping into Charles was that they knew when the game lights were on, this guy flat out dominated. He played at a Hall of Fame level.

	 						<p>Woodson’s practice habits upset the coaches for two reasons.  First, it took the wind out of their sails as they preached “How you practice is how you will play.”  Secondly, our younger players, such as future all-pro safety Nick Collins, started to acquire those same habits. 

	 						<p>Collins, though physically gifted in his own right, could not pull off what Woodson did.   He couldn’t just “turn it on” for the games.  Charles saw the influence he was having on the other players who were beginning to struggle. He decided to change the way he practiced. Charles, along with other veterans in the defensive backfield, began competing to see who could make the most interceptions.

	 						<p>Charles took this competition seriously. Whether it was practice or games, he loved to use the bait-and-hook method to pick off passes. Charles would make it seem like the receiver was open and then use his quickness to sneak in front at the last second for a pick. He did this time and time again.

	 						<p><a href="http://www.nfl.com/videos/nfl-game-highlights/0ap3000000390280/Woodson-intercepts-Geno-Smith" target="_blank">Watch Video: NY Jets QB Geno Smith was baited-and-hooked this last weekend by the old savvy vet</a>.

	 						<p>Woodson now practiced and played in games like a Hall of Famer.  The younger guys like Nick Collins and Tramon Williams elevated their play to All-Pro/Pro Bowl levels.  These young bucks learned that not many are as talented as Charles Woodson. 

							<p>In reality, Charles is an exception to the rule that “you will practice how you will play in a game”.  He was not the norm.  He was one in a billion. He was the best football player I ever player with.
							
						</div>
					</div>
				</div>

				<div class="row">
					<div class="lockerroom-entry">
						<div class="lockerrooom-entry-title">
							Football <span class="by">by</span> Earnest Byner
							<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_earnestbyner.jpg)"></div>
						</div>

						<div class="lockerrooom-entry-content cf">
							<div class="caption-image full-width">
								<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/lock-amonk.jpg" alt="">
								<p class="ap-image">Art Monk - AP Photo</p>
							</div>

							<p>The best player I ever played with was wide receiver Art Monk.  Monk was inducted into the Pro Football Hall of Fame in 2008.  

							<p><em>Preparation.</em>  His note taking was remarkable.  I sat on the back row with him and although he had been in the exact offense for 5-6 years, he was taking notes like a rookie.

							<p><em>Practice.</em>  He never missed a practice. His work during all our practices was in game speed.  Nothing was taken for granted.

							<p><em>Game.</em>  He was the most composed and focused guy on the field. In five years of playing I only saw him speak to an opposing player one time. When he did that he was slapping the kid across the head.  It shocked us all. We heard nothing else out of that defender!

							<p><em>Coachable.</em>  He received coaching just like he was taking notes. He listened like he didn't know, but practiced and played like it belonged to him. 

							<p><em>Off the field.</em>  He was the most humble man around. He got a large part of our team's accolades, but deep down he only wanted to do his job and stay under the microscope. Even thought he walked with a pop in his step he never boosted about anything.  He deflected the attention to others.

							<p>For all these reasons, Art Monk was a GREAT football player--the best I ever played with. 
							
						</div>
					</div>
				</div>

				<div class="row">
					<div class="lockerroom-entry">
						<div class="lockerrooom-entry-title">
							Football <span class="by">by</span> Jay Foreman
							<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_jayforeman.jpg)"></div>
						</div>
						<div class="lockerrooom-entry-content cf">
							<div class="caption-image full-width">
								<img src="https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/lock-awinfield.jpg" alt="">
								<p class="ap-image">Antoine Winfield - AP Photo</p>
							</div>

							<p>When I think of the best player I ever played with I have to step back and decide between the best player and the best athlete.  I think people today get these two things mixed up.

							<p>I have been blessed to play with HOF players like Thurman Thomas, Bruce Smith and Andre Reed-all great players and great athletes. But if i had to pick one player that I played with that I think is the best, I would hands down go with cornerback Antoine Winfield. 

							<p>I understand that's not the most obvious choice considering those other Hall of Fame members. But when I think of the 'best' player, I feel he has to be able to play all aspects of his job at "best" level...the pass, the run, play-making ability, and a record of playing big in the biggest games.  

							<p>I remember Antoine as a rookie and how he made an impact the first day in pads, it was play after play after play after play...he either intercepted the pass or made a big hit.  The hits are a huge part of my calculation, because Antoine is 5'8 on a good day but would lay the wood like he was a 6'4 Defensive End.  It was an aspect to his game as a cornerback that he didn't have to have to still be a great cover guy, but it rounds out his resume.  Best is all about MORE.  

							<p>For whatever it's worth, he has stats...1054 tackles, 14 forced fumbles, 8.5 sacks and 27 interceptions.  He played 14 seasons high-level seasons in the NFL at a speed position, which is impressive in itself.  And throughout those 14 seasons, he had a well-earned reputation as one of the hardest hitting defensive backs in football.  

							<p>Some may call him a jack-of-all-trades, I'll just call him the best FOOTBALL PLAYER I ever played with.
							 
						</div>
					</div>
				</div>

			</div>
			
			<div class="col-md-4">
				<%= include lockerroom-sidebar %>
			</div>
		</div>
	</div>

</div>

<%= include footer %>