<%= include header %>
<div class="lockerroom">
	<div class="lockerroom-header" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer.jpg);">
		<div class="container">
			<h1 class="title">Making it Through Final Roster Cuts</h1>
		</div>
	</div>
	<div class="lockerroom-content">
		<div class="container">

			<div class="row">
				<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Michael Robinson
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_michaelrobinson.jpg)"></div>
					</div>
					<div class="lockerrooom-entry-content">
						<p>My rookie year in 2006 with San Francisco I had no clue how roster cuts went down…I kind of just went with the flow, assuming I’d be with the team throughout the season.
	 
						<p>I even had my mother come out with me to find an apartment before training camp started.  That never happened again!  
	 
						<p>Walking into the building the day after roster cuts I noticed an eerie silence…like the first day of school.  No lines at the cold tub.  And the steam room had much more room.  If I hadn’t figured it out already, the regular season was different. 
	 
						<p>Norv Turner (our offensive coordinator at the time) let me have it in the walk-through of our first practice after cuts…just because my eyes weren't right on a blitz call. He called me everything in the book!
	 
						<p>All I could think is “What a jerk off… it’s walk-through.  I saw who I had; I just didn't look directly at him!” My good friend Frankie G (Frank Gore) told me not to worry about it.  He said even coaches feel the pressure of the regular season.
	 
						<p>That was my first rookie moment.  Coaches have to trust you’ll do what you’re coached to do.  I was just out there playing.  I learned we’re not paid to play.  We’re paid to win.  
	 
						<p>No room for error.  Time to do your job…			
					</div>
				</div>
			</div>


			<div class="row">
				<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Matt Chatham
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_mattchatham.jpg)"></div>
					</div>

					<div class="lockerrooom-entry-content">
						<p>Was my first experience making an NFL roster all joy and celebration?  Not exactly.

						<p>The year was 2000.  I was in camp with St. Louis—an undrafted free agent from the University of South Dakota.  I thought I’d played well enough in the preseason to make the back-end of the roster…maybe.  

						<p>I had all the normal stress issues:  sleepless nights, no appetite, and generally neurotic behavior.   My worst symptom was the night sweats from all the anxiety.  I’d put the A/C unit on “Antarctica” and still sweat through to the box springs.  Those poor ladies changing sheets at the Holiday Inn had to think I was a serial bed-wetter.   

						<p>My wife and I sat in that hotel room, staring at the phone like it was a live grenade.  When I heard that first ring, I didn't need to answer it.  I knew.  Ringing is bad.  

						<p>They cut me, explaining I was SO close.  They unexpectedly needed that 53rd roster spot for an extra pass catcher—a WR had gotten injured in the final preseason game.  If I cleared waivers, they wanted me on the practice squad.  That's something, I guess.  Yippee?!  

						<p>The phone rang again.  I'd been claimed on waivers by the New England Patriots.  “Wait…where's that?"  The best answer this kid from the Midwest could come up with in that moment was "top-right." 

						<p>My girlfriend (now wife) and I embraced and probably cried more than I sweat.  I had a job.  Was I happy?  I think so.  Yeah…sorta.  Honestly, the most dominant feeling was extreme relief.  

						<p>Looking back, I definitely didn't understand the significance of what had just happened.  This was the best thing that would ever happen to me professionally.  A long career and three Super Bowl rings later, this seems obvious. 
						 
						<p>Then?  Not so much…
					</div>
				</div>
			</div>

			<div class="row">
				<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Earnest Byner
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_earnestbyner.jpg)"></div>
					</div>

					<div class="lockerrooom-entry-content">
						<p>It's 1984, the night before final cuts in my first NFL training camp. REAL training camp. The Cleveland Browns started camp the weekend after July 4th- lasting for almost 2 months. This was the twilight zone. 
	 
						<p>I'd been balling from the start, so I hadn’t had any uneasy feelings about being cut up to this point.  But tonight’s different. My roommate’s been cut, so I'm alone.  I finally fall asleep, half-expecting a knock on the door. 
	 
						<p>I wake up to sunshine and no knock. I fly to the door to take a peek out into the hallways. Quiet. Spooky quiet. No news is good news, I guess…
	 
						<p>I call home to tell Granny and then call my wife. I made it! After the call I just sat alone for awhile, letting it all sink in. 
	 
						<p>There’s a team meeting at 9:00 AM. I take what’s become my normal seat. After cuts, the room is half-empty. Head Coach Marty Schottenheimer's voice echoes. Mike Pruitt, Boyce Green, Charles White and Johhny Davis are the other backs. I can’t stop thinking I'm on the team with guys I've watched on TV. 
	 
						<p>After meetings we head to the field...but wait! Where are all those lines of guys waiting to get reps? This is it?! That’s the moment you realize just how special it is to be on an NFL roster.
	 
						<p>Those empty seats and short lines were an "oh snap" moment for me. Love what you do, and appreciate the constant challenge.
					</div>
				</div>
				</div>

				<div class="row">
					<div class="lockerroom-entry">
					<div class="lockerrooom-entry-title">
						Football <span class="by">by</span> Jay Foreman
						<div class="author-image" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_jayforeman.jpg)"></div>
					</div>

					<div class="lockerrooom-entry-content">
						<p>I clearly remember the last week of my first training camp in 1999 after being drafted late in the 5th round by the Buffalo Bills.  For the most part, 5th rounders have ZERO roster certainty.
	 
						<p>For days leading up to cuts, I slept about 3 hours per night.  I puked twice before the final preseason game.  With all the worrying about my situation, I couldn’t remember if I played well or not.  
	 
						<p>The final 48 hours was pure hell! I got calls from family, friends, agent, and other teammates.  The last thing I wanted to hear from them was "You easily made it!"  That could be a jinx.
	 
						<p>Players know when cuts are made.  They have it down to a science.  Watch the phone up until the deadline.  And then again for a couple hours afterwards.
	 
						<p>After waiting what seemed like forever, I was informed I’d made it.  My first reaction was simple: "Holy Shit."  I walked around the hotel to see if anyone else had heard.  
	 
						<p>I had to go buy something…just to prove to myself I made the roster.  Naturally, I hit the mall,
	 
						<p>I lapped the Buffalo mall at least 25 times- mainly showing off, but on my phone throughout with my family.  I had to make sure they knew I made it.  And, you know, that I was at the mall.
	 
						<p>Later, I sat down to plan who was coming out for the first home game, find a place to live, and how to budget before the real checks came.  That said, I went and bought an SUV- put the system and rims on it just so I could fit in with my teammates.
	 
						<p>I made it!  But I was spending before I even had cash in hand.  Dumb rookie.				</div>
				</div>
			</div>
		</div>
	</div>

</div>
<%= include footer %>