<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="column-header">
					<h2 class="title">Memo to Johnny Rookie</h2>
					<p class="date">September 2, 2014</p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/manziel_hoyer.jpg" alt="">
				</div>

				<div class="column-content-wrapper">
					<p>*Let me preface this by stating what some you of you already know.  I was never a true starting quarterback in the NFL.  I started 12 games and played in 44 over the course of twelve years.  I didn’t go to any pro-bowls or win any playoff games.  But I learned what it took by playing behind some great quarterbacks.  I can’t give Johnny Manziel advice on how to throw a football or which protein shake to drink to gain weight. But maybe I can offer some advice on what it takes to be a quarterback in the league for a long time; hopefully as a successful starter. 

					<p>I get it.  I understand.  We were all 21 once and liked to have a good time.  Making great decisions isn’t what most 21 year olds do.  But being a first round draft pick at the quarterback position isn’t exactly normal either.  So Johnny Manziel, let me give you a heads up on what playing quarterback in the NFL is all about and in the process give our readers an insight about what this position requires from a preparation standpoint.
					 
					<hr>
					 
					<p>The NFL has been—and always will be—obsessed with the quarterback position…and for good reason. 
					 
					<p>Quarterback is one of the most difficult positions to be successful at in sports.  It requires just the right mix of tangibles and intangibles to make it to the highest level—much less succeed once you’re there.  In a league with 32 teams, the world’s limited supply often doesn’t meet the demand. 
					 
					<p>Every year, teams draft quarterbacks in the first round.  They spend significant resources on scouts, private workouts, interviews, the combine, hundreds of hours of film study and a lot of sleepless nights trying to find the next pro-bowl quarterback.
					 
					<p>This brings us to the “talk” of this year’s class: Johnny Manziel.  There were many concerns about Manziel’s own mix that had people questioning if he’s franchise quarterback material.  His styles of play, arm strength and size have been questioned. There have been concerns about his maturity, or lack thereof. 
					 
					<p>After the college season, it seemed he was taking the next step maturity wise, as he usually said and did the right things.  Sure, he flashed his infamous (yet childish) money signs seconds after being drafted by the Browns, but there was nothing else negative to point to since the college season had ended.  During offseason workouts, OTA’s, minicamp...nothing. 
					 
					<p>Then came the break before training camp and those concerns seemed to come to fruition.  Pictures of partying in Vegas, mysterious rolled-up dollar bills, and selfies with the wild and immature Justin Bieber, had to be disconcerting for the Browns’ coaches, ownership and fans.  He got the “sit down” with upper management and apologized (sort of) but used his young age of 21 as the excuse for the decisions he makes. 

					<hr>
					 
					<p>Let’s imagine a hypothetical.  You’re playing a great game against the Buffalo Bills.  Your team grabs the lead in the fourth quarter, but you end up throwing two interceptions that cost your team the game.  You’re physically beat up and mentally down in the dumps.  But the Indianapolis Colts, led by Andrew Luck, are coming to town. 
					 
					<p>Now the real work begins.  There’s the post game press conference and interviews to go over your mistakes.  How do you answer questions regarding your failure to protect the football? 
					 
					<p>Then there’s Monday.  You have to walk into the locker room and team meetings and find a way to regain the confidence of your teammates.  You have to watch film of the interceptions and other mistakes next to your teammates and coaches.  Over and over.  Understand that everyone will be watching to see how you react.  Everyone. 
					 
					<p>Next, another session of interviews with the media.  Somewhere in there you need to get a head start on looking at the Colts defense.
					 
					<p>Tuesday is the “off” day in the NFL.  It’s the only day of the week players aren’t required to be at the facility.  But you play quarterback, so you should be there for a nice chunk of the day, possibly before your weekly trip to a charity function of your choice.  I usually watched the last 4-5 games my opponent played and took notes and drew up some of my favorite concepts and ideas. 
					 
					<p>Some coaches are more welcome to ideas and recommendations than others.  But I will say the more success you have the more open they will be to your opinions.  After the film study and note taking, walk upstairs to the coach’s offices and sit down with the quarterback coach and coordinator and discuss some of your thoughts or concerns from the defense you just dissected.  They’ll have some ideas that you haven’t thought of yet.  Usually, protections are the first concern and the routes and match-ups occur after that.  You can draw up a lot of amazing plays that attack every defense, but if you can’t get to the back of your drop without getting smashed by a blitzing strong safety or premier defensive end, what’s the point. 
					 
					<p>Some quarterbacks even hold their own meetings on Tuesday evening to discuss the game plan so by the time you walk inWednesday morning, you’re one step ahead of the rest of the offense.
					 
					<p>Wednesday is here and again your team is going to have that tough loss in the back of their minds.  They will be gauging your confidence and examining how serious you are about getting the team back on track.  Are you ready go toe to toe with Luck, or are you still feeling sorry for yourself about Sunday’s loss?  After all the practices and meetings and as the other players’ cars start to pull out of the parking lot around 5pm, grab a protein bar and head back to the quarterback room.  Third downs are the most important down in the NFL and that is the focus for tomorrow. 
					 
					<p>Thursday is the same as Wednesday but it’s usually more complex with blitz protections and a slew of challenging defensive coverages coming into play on third down. 
					<p>You’ll also be interviewed by the media each day and though you’re trying to forget that last interception, it’ll be brought up again and again.  Fun Fun. 
					 
					<p>Friday’s red zone, short yardage, and a review of everything you did on Wednesday and Thursday.  Most of the team is in good spirits as their bodies are finally recovered from the mayhem of the previous Sunday.  Quarterbacks have to be perfect on Fridays.  A good offensive coordinator expects the ball to not touch the ground in team, 7 on 7, or red zone drills.  This is the “dress rehearsal” for the game in two days.  The coaches have honed their game plan and they want to see the offense run like a well-oiled machine.  It all starts and ends with the quarterback.
					 
					<p>Some players go out with their teammates or friends on Friday night.  Feel free to do that as everyone needs a mental break from the game.  Be sure to remember that every fan you come across knows you have a huge game in 36 hours. 
					 
					<p>Saturday is a walk thru or jog thru, and you better understand every facet of the game plan…in the meeting room and on the field.  Your teammates and coaches want to sleep well with dreams of a big win. A quarterback that doesn’t know which is the right read against cover 3 weak zone in a walk-thru, or the correct audible versus a 3-4 Sam/Strong Safety 2 Slice Zone Dog done at half speed, won’t help them rest easy.
					 
					<p>Sunday arrives.  The difficult work is done.  You’ve prepared to give yourself and your team a chance to be successful.  Do what you do best.  Play the game you love with instinct and passion. 
					 
					<p>Feel free to flash those dollar bills after you’ve thrown that fourth touchdown pass.  Just be careful, Luck may have already done that…in the first half. 
					 
					<p>Good luck Johnny.  I honestly believe you are going to make it in the NFL.  I’m a big believer in your Offensive Coordinator Kyle Shanahan and Head Coach Mike Pettine.  I think they’ll give you a great chance to be successful.  But I promise you that it won’t be easy and there will be ups and downs. 
					 
					<p>Just remember…I’d rather bet some money on you in Vegas, than see you there poolside.

				</div>				
			</div>
			<div class="col-md-4">
				<div class="author-badge">
					<div class="black banner right">Football <span class="by">by</span> Sage Rosenfels</div>
					<div class="author-square" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_sagerosenfels.jpg)"></div>
					<div class="content">
						<p class="item">Quarterback</p>
						<p class="item">12 years in NFL</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>