<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="column-header">
					<h2 class="title">NFL Stress & the M-effers</h2>
					<p class="date">September 2, 2014</p>
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/manziel_hoyer.jpg" alt="">
				</div>

				<div class="column-content-wrapper">
<p>Saturday, August 30th was a blessing and a curse for many NFL hopefuls, with more than a 1000 players released from the rosters they called home all offseason. It’s THE day when players are judged worthy of an NFL roster spot. The NFL’s interview process is unlike anything most people will experience in life. The stresses are awesome, persistent…and definitely leave a mark.  

<p>Take some of the biggest, fastest, strongest people in the world and put them through a pressure cooker of intense emotional, physical and mental stressors.  Then see who comes out the other side. I mention all three types of stress because they’re distinctly, different yet inextricably linked. I call them “M-effers”. 

<p>When football is your life, you have to learn to control all three of those little M-effers and funnel them towards your performance.  If you don’t, you’re likely one of the aforementioned 1000+ newly unemployed, left holding a bag of unanswered questions. Those that keep their M-effers in check through focus and commitment learn the business of the NFL the quickest.  And most importantly, they survive. 

<p>For example: It’s game time. You’re a veteran quarterback that's practiced a certain pass play all week against a defense you know the opponent will run. You’re confident in your check downs and where the ball will go in any situation. At the start of the third quarter, you ran the ball on first down for a couple yards.  Much more was available, but the running back fumbles your handoff before recovering to fall forward…#1 M-effer. The coaches are screaming into the helmet speaker asking "what the F@#$! is going on!?"... #2 M-effer.  

<p>It’s 2nd and 8 and the play comes in.  You try to catch your breath, but stumble through the run-on, word-porn play call to the fellas in the huddle...#3 M-effer.  You’re a little frazzled, say the snap count, break the huddle, walk to the line of scrimmage, read the defense and start the cadence. M-effers in check for the moment…

<p>During the cadence you notice the defense shift and you immediately know the out-route will be available.  You're almost finished with the cadence but...holy sh^%...was it on one or two?...return of the M-effer.  You guess right and drop back, throwing the out route to a wide open receiver. He makes the corner back stumble and picks up the first down. 

<p>Perfect!  First down, move the chains! Next play! From the start to finish that would usually last 30-45 seconds. 

<p>It isn’t until you have the opportunity to watch film the next day that you notice a crime scene on your game report for that play.  M-effers come marching in as you ask for explanations on critiques you hadn’t even considered. The coach goes on to explain; despite the first down, you should have thrown to the running back in the flat instead of the out route, your footwork in the drop was sloppy, you didn’t accelerate through the throw, the ball placement was a little low and you were slow to the line of scrimmage. Ok, I guess.  Constructive criticism, fix it. 

<p>Even though your coach played the game with Pop Warner and hasn’t run a sprint or thrown a ball since Prohibition, he is the coach and what he interprets decides whether you play the game or hold a clip board.  Fair?  Sure is.  You signed the contract.

<p>----------------------------

<p>You can’t hide on an NFL team. If the media doesn’t pick you apart, the coaching staff and personnel department will. You’re evaluated daily, from the time you walk through the door in the morning until the time you leave at night.  Notes are kept on everything; every snap, every practice, every game, every word, every bodily noise. Your mannerisms and body language tell a story the organization is eager to figure out. It’s the personnel departments’ job to absorb nuance and form daily opinions’ of your value. This value is dissected behind closed doors and incorporates everything from attitude, hustle, mistakes, playing ability, confidence and numerous other variables that are given a grade determining your ultimate worth.  

<p>Hurt?  Too bad. The team has a list of replacements on hand for just such an occasion. You can be cut at any time and are rarely told of your standing with the team, except by depth chart positioning and occasional ear hustling banter between staff members.

<p>All these details and evaluations lead to a day like last Saturday. Your final grade reflects their ultimate decision and employment reality that players are a commodity to be traded and used to the best advantage of the teams and the NFL. Those who learn this first will ultimately succeed. Those that don’t will tell stories of how it should have been.  Or simply start life anew and head back to the weight room to stay prepared for a call that might never come. This is corporate America with a helmet and pads.

<p>My Saturday has long since come and gone and after 11 seasons of battling the M-effers in a perpetual fight for that golden roster spot.  I still miss the pull of competition and the angst that day would bring. 

<p>Best of luck and health to this years’ NFL players. They’re gonna need it.

				</div>				
			</div>
			<div class="col-md-4">
				<div class="author-badge">
					<div class="black banner right">Football <span class="by">by</span> Grey Ruegamerr</div>
					<div class="author-square" style="background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/Headshots/pro_greyruegamerr.jpg)"></div>
					<div class="content">
						<p class="item">Quarterback</p>
						<p class="item">in the NFL</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>