	<div class="header">
		<h3 class="logo"><a href="/">FxF</a></h3>
		<% if (locals.user) { %>
			<% if (user.instagram.token) { %>
			<h4 class="login">Account</h4>
			<ul class="menu">
				<li><a href="/profile">Edit Profile</a></li>
				<li><a href="/logout">Logout</a></li>
				<% if (user.facebook.token) { %>
					<li><span class="fa fa-facebook"></span> <%= user.facebook.name %></li>
				<% } else { %> 
					<li><a href="/connect/facebook"><span class="fa fa-facebook"></span> Facebook</a></li>
				<% } %>
				<% if (user.twitter.token) { %>
					<li><span class="fa fa-twitter"></span> <%= user.twitter.displayName %></li>
				<% } else { %> 
					<li><a href="/connect/twitter"><span class="fa fa-twitter"></span> Twitter</a></li>
				<% } %>
			</ul>
			<% } %>
		<% } else { %>
		<h4 class="login">Login</h4>
		<ul class="menu">
			<li><a href="/auth/instagram"><span class="fa fa-instagram"></span> Instagram Login</a></li>
		</ul>
		<% } %>
	</div>