<%= include header %>

<div class="container">
	<div class="row">
		<div id="react-content"></div>		
	</div>
</div>
<script src='/js/player-editor/player-edit.compiled.js' ></script>
<%= include footer %>