<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="column-header">
					<h2 class="title">FBF's Week 1 Fantasy  thinkTank</span></h2>
					<p class="date">September 7, 2014</p>
				</div>
				<div class="column-content-wrapper">

					If you have Peyton Manning, LeSean McCoy, Calvin Johnson, Jimmy Graham or another fantasy beast in your line up, I hope you’re just reading this article for pure amusement. If you’re contemplating benching one of these studs because they have a bad matchup, 1) DON’T DO IT! 2) STOP OVER-THINKING THE MATCHUP, HOMIE! 3) IF YOU BENCH THEM AND THEY BALL, YOUR BOYS ARE GOING TO STRAIGHT CLOWN YOUR BAD COACHING AND YOU’LL DESERVE EVERY DROP OF THAT HATRED.

					So, if you haven’t gathered as much by now, the purpose of this article isn’t to tell you which studs to play this week because it doesn’t take a genius to know “AD”, aka Adrian Peterson, is a must play as soon as he slides on his jock. The purpose of this article is to provide players with great Week 1 matchups who could help you pull out that close win to help your team get off to a great start.
					 
					<h2 class=”subheader”>Quarterback</h2>
					 
					<em>Phillip Rivers SD vs ARI</em>
					 
					Arizona’s defense is a shell of the unit that almost rallied the team to the playoffs last year. Darnell Dockett tore his ACL, Karlos Dansby is in Cleveland, Daryl Washington is suspended and the Honey Badger is still working his way back from an ACL tear late last year. This means Phillip Rivers has an ideal matchup to build on the success he had last year and get his team off to a fast start for once. With Keenan Allen and a healthy Malcom Floyd flanking Ladarius Green, Philly should have time to find the open WR not covered by Patrick Peterson and finish within the Top 10 fantasy producers for Week 1.



					<h2 class=”subheader”>Running Back</h2>
					 
					<em>Mark Ingram ATL vs NO</em>
					 
					“Just taste the soup. Is the soup too hot? Just taste the soup! Is the soup too cold? JUST TASTE THE SOUP! Where’s the Spoon?! AH HAAA!!!”
					 
					WHERE’S THE SPOON?!?! I’m talking about Sean “Spoon” Weatherspoon, the heart of the Falcon’s defense who ruptured his Achilles tendon in July. The Falcons defense was already “turrible”, as Charles Barkley would say, last year and the defense is likely worse this year. The Falcons ranked 31st against the run last year and Mark Ingram has been toting the rock like a man who wants a new contract after this year (isn’t it ironic how cats ball out in a contract year…don’t ya think?!). I think he gets off to a fast start this season and helps your team get off to one as well.
					 
					 

					<h2 class=”subheader”>Wide Receiver</h2>
					 
					<em>Michael Crabtree DAL vs SF</em>
					 
					I can still remember Crabtree’s game winning touchdown catch against Texas like it was yesterday. I saw this kid play in college and knew he’d be a beast at the next level. He’s shown flashes but injuries and an inconsistent offense has prevented this from coming to fruition But guess what? He still has a chance!! Yes, I’m telling you there’s a chance, Lloyd!! Crabtree is healthy (except for that damn calf that came out of the wood work) and Dallas’ defense is horrible. If the 9ers offense can’t get rolling against Jerry’s Boys, fantasy owners may need to rethink their investments in the SF offense altogether….
					 

					<h2 class=”subheader”>Tight End</h2>
					 
					<em>Ladarius Green ARI vs SD</em>
					 
					Antonio Gates has battled a hamstring all week and his availability for Sunday is in jeopardy. If Gates can’t play, I believe Green comes up huge for SD. Patrick Peterson will likely keep Keenan Allen in check so Phillip Rivers will need to find other matchups to exploit. Arizona has two young safeties, with one recovering from an ACL injury, giving Green a nice Week 1 matchup. If Arizona’s beat up defensive line can’t pressure Rivers, look for Green to exploit the middle of the field and rack up major points for his fantasy owners.



					<h2 class=”subheader”>Kicker</h2>
					 
					<em>Nate Frees NYG vs DET<em>	
					 
					Jason Hanson retired after spending his 21-year career with the Detroit Lions. Today, Nate Frees takes over for Hanson against a Giants team that has been struggling to find their identity. I’m not going to write a bunch of jibberish about why I think Frees will outperform the other kickers this week. I have him on my team this week so I’m hoping this positive thinking helps him kick me to a victory this week. If not, Mr. Frees will freeze his ass off on the waiver wire next week. DO YOUR JOB, KICKER!!



					<h2 class=”subheader”>Defense</h2>
					 
					<em>Buccaneers D/ST CAR vs TB</em>
					 
					The Bucs play a banged up Cam Newton at home to open the season. The Panthers have a promising rookie lined up at one WR but the other guys on the roster are just that, J.A.G.’s (Just A Guy). I expect Lovie to have his finger prints all over this defense leading to fingerprints all over Cam Newton this week. Cam may eventually turn into Superman this year but I have a feeling he may be rocking the Hello Kitty under the jersey this week.


				</div>
			</div>
		</div>
	</div>
</div>
<%= include footer %>