<%= include header %>
<div class="column">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="column-header">
					<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/col-wwkjd-w1.jpg" alt="">
					<p class="date">September 8, 2014</p>
				</div>

				<div class="column-content-wrapper">
					<p>Football’s an extremely emotional game.  Not surprisingly, you hear some very emotional things from people both inside and outside the sport.  The NFL season is—and has always been—a long, grueling adventure.   
					 
					<p>There’s only a small sample of information available about any team this early in the season.  So whatever it is ya think ya know, the chance that’s gonna change is awfully high.  
					 
					<p>Despite all this, crazy-talk still finds life in the NFL and social media.  So why not give crazy-talk the soap box he deserves? 
					 
					<p>Introducing Knee Jerk.  He’ll say it.  He don’t care.  He's not afraid to be a lunatic.  That’s our guy Knee Jerk.    
					 
					<p>What Would Knee Jerk Do?  We discuss #WWKJD every Monday Morning in the aftermath of Sunday's games, right here with our pal on FootballByFootball.com. 
					 
					<hr>
					 
					<p>What do most people do when they find a penny in their driveway?   Put it in their pocket and continue on their way?  Or search for the copper mine that's got to be hiding under the driveway?
					 
					<p>WWKJD?  You don’t have to ask Knee Jerk twice.  Where’s the shovel...
					 
					<div class="caption-image">
						<img src="https://s3.amazonaws.com/footballbyfootball-dev/columns/cap-wwkjd-w1.jpg" alt="">
						<p class="ap-image">Houston Texans linebacker Jadeveon Clowney heads to the locker room with a knee injury in Sunday's game against the Redskins - AP Image</p>
					</div>

					<p>“Seahawks look AWESOME, bro!  Better than last year.  No weaknesses!  Legion of Boom?  Russ?  Beast Mode?  12th man…more like 20!
					 
					<p>“Clowney got hurt?  He sucks.  Never shoulda drafted that guy.”

					<p>“If the Browns are still trailing at the commercial break, they <em>gotta</em> make the move to Johnny Football.  This can’t go on any longer.  First-round pick, ya know.  They don’t have a choice. ”
					 
					<p>“I knew it…Foles blows!  One-year wonder, that guy.  And I’m sorry, I gotta say it if nobody else will.  These Jaguars are for real!  You wanna get something to eat at halftime?”
					 
					<p>“Falcons are back!  Worst-to-first, baby!  Matty-Ice is so cold this time of year…”
					 
					<p>“I’m just gonna come out and say what needs to be said...Belichick is OVERRATED!  Guy hasn’t won anything in like twenty years!  He wouldn’t be anything without Brady.  And, oh yeah…Brady Sucks.    Fins Up! “
					 
					<p>“Ho-hum, Ravens suck. <em>This division is ours for the taking.</em>  You wanna go grab a bite to eat?  I’ve got this burning desire to put chili on spaghetti.” 
					 
					<p>“Kirk Cousins.  Now. ” 
					 
					<hr>
					 
					<p>Knee Jerk must be a fan, has to be a fan, right?  <em>Naw, not always.</em>
					 
					<p>Sometimes Knee Jerk works for the NFL.  Sometimes Knee Jerk IS the NFL.   Knee Jerk was the one that came up with the most-used term of the NFL offseason:  “emphasis.”  Apparently somebody in the NFL has a suffocating fear of face-touching.  Credit our boy Knee Jerk with taking care of the problem.     
					 
					<p>Yeah, players wear helmets designed by brilliant engineers.  Those helmets protect players from skull fractures during countless high-speed collisions.  But Knee Jerk is a stone-cold detective of the highest order. <em>Knee Jerk found a loop hole.</em>
					 
					<p>Those helmets might defend against the on-field car crashes, but they can’t protect against hands.  No sir, hands are REALLY dangerous. 
					 
					<p>WWKJD?
					 
					<p>KJ:  “We need to make helmet-touching illegal.  I don’t care if the touching doesn’t affect the play.  I don’t care if penalties for helmet-touching affect the outcome of games.  I don’t care if nobody’s ever been injured by helmet-touching.  I don’t care that people playing the game say it’s unavoidable and inconsequential.  This helmet-touching has to stop.  I hereby decree helmet-touching as the most important problem facing the NFL.
					 
					<p>Take this down:  This season, we’ll make an emphasis…ooooh, I like that word.  Underline that… <em>emphasis.</em>  We’ll make an <em>emphasis</em> on hands-to-the-face penalties.   For safety.
					 
					<p>It’s very important to remember to say “for safety.”   It works just like “for the children” or “world peace.”  As long as you say “for safety,” you’ll be right every time.  It’s completely fool-proof. 
					 
					<p>No more helmet-touching <em>for safety.</em>   Good luck escaping that maze.  There's your new policy…print it up and send out a press release.  My work here is done. 

				</div>				
			</div>
		</div>
	</div>
</div>
<%= include footer %>