html, body {
  height: 100%; }

body {
  background: #222;
  color: #000;
  font-size: 16px;
  word-break: break-word; }

.container {
  position: relative;
  overflow: hidden; }

body.column {
  background: #fff; }

.icon-container {
  margin-left: 15px; }

.footer {
  background: #222;
  padding: 50px 0;
  color: #aaa;
  z-index: 1;
  position: relative; }
  .footer .footer-links {
    color: white;
    font-weight: normal; }
  .footer .copyright {
    text-align: center; }

.instagram {
  width: 200px;
  display: inline-block;
  position: relative;
  margin: 10px; }

.instagram-image {
  width: 100%; }

.unlink {
  clear: both;
  padding-top: 10px; }

.loadmore {
  line-height: 160px;
  margin: 0;
  text-align: center;
  background: #ccc; }

.controls {
  display: none; }

.controls.active, .admin-instagram:hover .controls {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #444;
  padding: 5px;
  padding-top: 30px;
  cursor: pointer;
  display: block;
  height: 100%;
  font-size: 50px;
  text-align: center; }

input.player-title-tag {
  border: #ccc solid 1px;
  line-height: 38px;
  width: 100%;
  padding: 5px 15px; }

.post-form .toolbar {
  line-height: 40px;
  background: white;
  position: relative;
  margin-bottom: 10px;
  border-bottom: #eee solid 1px; }
  .post-form .toolbar .section {
    padding: 0 10px;
    line-height: 40px;
    display: inline-block; }
    .post-form .toolbar .section a {
      padding: 0 5px; }
    .post-form .toolbar .section a.color {
      height: 20px;
      width: 30px;
      margin: 0 5px;
      padding: 0;
      display: inline-block;
      background: #ccc;
      vertical-align: middle; }
    .post-form .toolbar .section a.color.red {
      background: #ad1a19; }
    .post-form .toolbar .section a.color.dark {
      background: #202b2a; }
    .post-form .toolbar .section a:hover {
      text-decoration: none; }
  .post-form .toolbar .link-tool {
    display: inline-block; }
    .post-form .toolbar .link-tool a {
      cursor: pointer; }
    .post-form .toolbar .link-tool a:hover {
      text-decoration: none;
      color: #202b2a; }
.post-form .link_dialog {
  text-align: center;
  background: #eee; }
  .post-form .link_dialog a, .post-form .link_dialog span {
    padding: 0 15px; }
.post-form .title {
  width: 100%;
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 0 15px;
  background: transparent; }
.post-form .content {
  line-height: 20px;
  width: 100%;
  margin: 0;
  padding: 15px;
  border-color: transparent;
  border: none; }
.post-form .content:focus {
  outline: none; }
.post-form .submit {
  width: 100%;
  background: #202b2a;
  color: white;
  height: 40px;
  border: none;
  -webkit-appearance: none;
  opacity: 0.7;
  transition: 0.15s ease-in-out;
  text-transform: uppercase;
  font-size: 13px; }
.post-form .submit:hover {
  opacity: 1; }
.post-form input {
  float: none;
  padding: 0 15px; }

input[type="submit"] {
  padding: 0; }

.player-editor-wrapper {
  border: #ccc solid 1px;
  margin: 20px 0; }

.content-wrap {
  position: relative; }

.close-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 15px;
  transition: 0.15s ease-in-out;
  line-height: 40px;
  font-size: 30px;
  cursor: pointer;
  background: white;
  color: black; }

.article-submit {
  background: red;
  display: block;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  margin-bottom: 25px; }

.article-submit:hover {
  text-decoration: none;
  color: white;
  background: #222; }

.close-link:hover {
  color: #ad1a19;
  text-decoration: none; }

.contentbar {
  border: #222 solid 2px;
  color: #222;
  line-height: 40px;
  display: table;
  margin: 15px auto; }
  .contentbar .content-link {
    margin: 0;
    cursor: pointer;
    padding: 0 15px;
    transition: 0.15s ease-in-out;
    display: table-cell; }
  .contentbar .content-link:hover {
    background: #222;
    color: white; }

.post-form .toolbar .section a.color.wysihtml5-command-active, .post-form .toolbar .section a.color:hover {
  border: 2px solid #202b2a; }

.image-uploader-label {
  color: #bbb;
  text-align: center; }
  .image-uploader-label .upload-icon {
    font-size: 50px; }

.image-uploader {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 75px 0; }
  .image-uploader .dz-progress {
    height: 2px;
    background: transparent;
    width: 60%;
    margin: 10px auto;
    background: #eee;
    display: block; }
    .image-uploader .dz-progress .dz-upload {
      height: 2px;
      background: #aaa;
      display: block; }
  .image-uploader .label-copy {
    position: relative;
    z-index: -1;
    display: inline-block; }

.image-uploader.dz-started .label-copy {
  display: none; }

.wysihtml5-command-active {
  color: #202b2a; }

.post {
  border: 5px solid transparent;
  background: white;
  color: #444;
  margin: 1%; }
  .post .post-wrapper {
    width: 100%; }
    .post .post-wrapper .post-sub-wrapper {
      padding: 15px; }

.instagram.admin-instagram {
  width: 18%;
  margin: 1%; }

.post.admin-post {
  width: 100%;
  height: auto;
  margin: 10px 0; }

.post .title {
  margin: 0 0 15px; }

.instagram .fa-instagram {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  margin: 15px;
  font-size: 30px; }

.author-card {
  background: white;
  width: 220px;
  padding: 10px;
  vertical-align: top;
  text-align: center; }
  .author-card .author {
    position: relative;
    padding-bottom: 0;
    background: white; }
    .author-card .author .image {
      width: 200px;
      height: 200px;
      background-size: cover; }
  .author-card .title {
    text-align: center;
    margin: 0;
    padding: 10px; }
    .author-card .title a {
      color: #444; }
  .author-card .position {
    display: table;
    margin: auto;
    background: #444;
    color: #fff;
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 10px; }
  .author-card .description {
    margin: 14px 0; }
  .author-card .edit {
    display: table;
    padding: 10px;
    background: #eee;
    text-align: center;
    margin: auto; }
  .author-card form input, .author-card form textarea {
    width: 100%;
    margin: 5px 0 0;
    text-align: center;
    border: solid 1px #ccc; }

.profile-content {
  width: 69%;
  display: inline-block;
  vertical-align: top; }
  .profile-content .content-controls .content-items {
    display: inline-block;
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid white;
    border-bottom: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px; }
  .profile-content .content-controls .content-items.active, .profile-content .content-controls .content-items:hover {
    background: white; }
  .profile-content .content-container {
    background: white;
    padding: 15px; }
    .profile-content .content-container .instagrams, .profile-content .content-container .posts {
      display: none; }
    .profile-content .content-container .instagrams.active, .profile-content .content-container .posts.active {
      display: block; }
    .profile-content .content-container .instagrams {
      max-height: 400px;
      overflow: scroll; }

.content-container {
  position: relative; }

.column-content {
  display: block;
  vertical-align: top; }
  .column-content .position-control {
    position: absolute;
    z-index: 1;
    color: white;
    right: 50px;
    text-align: center;
    top: 0px;
    border: 1px #eee solid;
    border-top: none;
    padding: 8px 10px 7px;
    background: white;
    border-bottom: none; }
    .column-content .position-control .move {
      display: block;
      cursor: pointer;
      transition: 0.15s ease-in-out; }
    .column-content .position-control .move.up {
      border: 10px solid #ccc;
      border-top: none;
      border-left: transparent 15px solid;
      border-right: transparent 15px solid;
      width: 0;
      margin-bottom: 5px; }
    .column-content .position-control .move.up:hover {
      border: 10px solid black;
      border-top: none;
      border-left: transparent 15px solid;
      border-right: transparent 15px solid; }
    .column-content .position-control .move.down {
      border: 10px solid #ccc;
      border-bottom: none;
      border-left: transparent 15px solid;
      border-right: transparent 15px solid;
      width: 0; }
    .column-content .position-control .move.down:hover {
      border: 10px solid black;
      border-bottom: none;
      border-left: transparent 15px solid;
      border-right: transparent 15px solid; }
  .column-content .content-controls .content-items {
    display: inline-block;
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid white;
    border-bottom: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px; }
  .column-content .content-controls .content-items.active, .column-content .content-controls .content-items:hover {
    background: white; }
  .column-content .content-container {
    background: white;
    border-bottom: #ccc solid 1px;
    margin: 15px 0;
    position: relative;
    border: #eee solid 2px; }
    .column-content .content-container .instagrams, .column-content .content-container .posts {
      display: none; }
    .column-content .content-container .instagrams.active, .column-content .content-container .posts.active {
      display: block; }
    .column-content .content-container .instagrams {
      max-height: 400px;
      overflow: scroll; }
    .column-content .content-container .caption-input {
      border: none;
      -webkit-appearance: none;
      outline: none;
      padding: 5px;
      background: #eee;
      font-size: 0.8em;
      width: 100%; }
    .column-content .content-container .close-link {
      top: 0px;
      z-index: 1; }

.top .author-card {
  display: block;
  margin: 15px auto; }

.main_roster .author-card {
  display: inline-block; }

.sidebar {
  width: 30%;
  vertical-align: top;
  display: inline-block; }

.sidebar .author-card {
  background: white;
  width: 220px;
  margin: 10px auto; }

.header {
  background: white;
  padding: 15px;
  border-bottom: 1px solid #ccc; }
  .header .logo {
    margin: 0;
    line-height: 2; }

.logo.mobile.home {
  width: 200px; }

.login {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  width: 150px;
  text-align: center;
  line-height: 48px;
  margin: 0;
  cursor: pointer;
  border-left: 1px solid #ccc; }

.login:hover {
  color: #428bca; }

.menu {
  display: none;
  position: absolute;
  right: 0;
  list-style: none;
  background: white;
  padding-left: 0;
  top: 79px;
  z-index: 1; }
  .menu li {
    border-bottom: solid 1px #ccc;
    padding: 15px 25px;
    border-left: 1px solid #ccc;
    width: 150px; }

.menu.active {
  display: block; }

.things {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  clear: both; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ccc; }

.content-object form .form-label {
  font-size: 12px;
  background: #eee;
  display: inline;
  margin: 0;
  padding: 5px 12px;
  line-height: 24px; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

.article {
  background: white;
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
  padding-right: 0; }

.article p {
  margin: 0 75px; }

.article-top {
  margin: -50px -50px 0;
  width: 1100px;
  max-width: 120%; }

.article-bottom {
  margin: 0 -50px -50px;
  width: 1100px;
  max-width: 120%; }

.article .aside {
  padding: 15px;
  background: #eee;
  max-width: 45%;
  margin: 30px -15px 30px 30px; }

.article .aside.right {
  float: right; }

.article .aside.left {
  float: left; }

.article-header {
  background: url(/img/article-top-image.png);
  height: 500px;
  background-size: cover;
  background-position: center;
  padding: 15px; }

.article-header .title {
  text-align: center;
  color: white;
  text-shadow: 0 0 5px black;
  margin-top: 200px;
  font-size: 60px; }

img {
  max-width: 100%; }

.image-set {
  display: block;
  background: #eee;
  padding: 15px;
  margin: 30px -15px; }

.image-set p {
  text-align: center;
  line-height: 3;
  margin: 0; }

.image-set img {
  height: 280px;
  display: inline;
  float: left;
  margin-right: 15px; }

.image-set img:nth-child(3) {
  margin-right: 0; }

.masthead {
  background: url('/img/masthead-backer-01.jpg');
  background-size: cover;
  background-position: center bottom;
  padding: 20px 0; }
  .masthead .big-logo {
    width: 758px;
    max-width: 100%;
    display: table;
    margin: auto;
    padding: 0 15px; }

.topbar {
  background: black;
  color: white;
  line-height: 3;
  margin: 0;
  position: relative; }
  .topbar .today, .topbar .logo {
    display: inline-block;
    margin: 0; }
  .topbar .podcast {
    height: 50px;
    background: red;
    box-shadow: 0 0 5px black; }
  .topbar .right-side {
    display: inline-block;
    font-family: "abril-titling-condensed", sans-serif;
    font-size: 0;
    float: right; }
    .topbar .right-side .article-links {
      font-size: 16px;
      color: white;
      margin: 0;
      padding: 0 10px; }
      .topbar .right-side .article-links:hover {
        text-decoration: underline; }

.lockerroom .topbar {
  margin-top: 20px;
  background: #fff;
  color: black;
  position: absolute;
  width: 100%;
  z-index: 1; }
  .lockerroom .topbar .article-links {
    color: black; }
    .lockerroom .topbar .article-links:hover {
      text-decoration: underline;
      color: black; }
    .lockerroom .topbar .article-links.social {
      color: white; }
  .lockerroom .topbar .podcast {
    color: white; }

.lockerroom.editor .lockerroom-entry {
  background: white;
  padding-bottom: 15px; }
.lockerroom.editor .column-content {
  padding: 0 15px; }
.lockerroom.editor .lockerroom-entry .lockerroom-entry-delete {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 15px;
  cursor: pointer; }
.lockerroom.editor .lockerroom-header .title input {
  background: transparent;
  border: none;
  border-bottom: #666 solid 1px;
  color: white;
  outline: none; }
.lockerroom.editor .lr-sidebar-link {
  cursor: pointer; }
.lockerroom.editor .article-submit {
  background: #222; }
  .lockerroom.editor .article-submit:hover {
    background: #666; }

.lockerroom {
  background: red; }
  .lockerroom .lockerroom-header {
    height: 100%;
    width: 100%;
    display: table;
    background-position: center;
    background-size: cover;
    position: relative; }
    .lockerroom .lockerroom-header .title {
      color: white;
      font-size: 80px;
      word-break: normal;
      width: 100%;
      padding: 0 30px;
      text-align: center;
      display: table-cell;
      vertical-align: middle; }
      .lockerroom .lockerroom-header .title img {
        display: table;
        margin: auto; }
  .lockerroom .lockerroom-content {
    background: red; }
  .lockerroom .lockerroom-entry {
    margin: 20px 0;
    z-index: 1;
    position: relative; }
    .lockerroom .lockerroom-entry .lockerrooom-entry-title {
      background: #222;
      padding: 5px 30px;
      margin-bottom: 5px;
      color: white; }
      .lockerroom .lockerroom-entry .lockerrooom-entry-title .by {
        color: red; }
      .lockerroom .lockerroom-entry .lockerrooom-entry-title .author-image {
        height: 80px;
        width: 80px;
        margin: -20px 20px; }
    .lockerroom .lockerroom-entry .lockerrooom-entry-content {
      background: #fff;
      padding: 30px;
      padding-top: 85px; }

.big-article.really-big .headline .copy h3 {
  font-size: 40px;
  text-align: center; }

.big-article {
  height: 500px;
  background: #eee;
  position: relative;
  background-size: cover;
  background-position: center; }
  .big-article a {
    color: white; }
  .big-article a:hover {
    color: white;
    text-decoration: underline; }
  .big-article .headline {
    background: rgba(20, 20, 20, 0.8);
    position: absolute;
    width: 100%;
    bottom: 10%;
    color: white; }
    .big-article .headline .inner-content {
      border: red 2px solid;
      border-left: none;
      border-right: none;
      padding: 10px 20px; }
      .big-article .headline .inner-content .copy {
        font-size: 50px;
        margin-bottom: 25px; }
      .big-article .headline .inner-content .byline {
        text-align: right;
        font-size: 16px;
        display: inline-block;
        float: right;
        margin-bottom: -18px;
        margin-top: -45px; }
        .big-article .headline .inner-content .byline .by {
          color: red; }

.author-image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: inline-block;
  vertical-align: middle; }

.lockerroom-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  .lockerroom-controls .locker-author-wrap {
    display: table;
    width: 100%; }
  .lockerroom-controls .author-image-wrap {
    display: table-cell;
    position: relative; }
    .lockerroom-controls .author-image-wrap .author-image {
      display: table;
      margin: 5px auto;
      box-shadow: 0 0 5px black;
      transition: 0.15s ease-in-out;
      background-color: white; }
      .lockerroom-controls .author-image-wrap .author-image:hover {
        z-index: 1000;
        box-shadow: 0 5px 20px black; }

.lockerroom-responses {
  background: white;
  position: absolute;
  left: 15px;
  z-index: 1;
  display: none;
  bottom: 100px;
  top: 15px;
  right: 15px;
  overflow: scroll;
  padding: 15px 0 32px; }

.row.response.active {
  display: block; }

.row.response {
  display: none; }

.lockerroom-responses-up .lockerroom-responses {
  display: block; }

.lockerroom-response-control {
  cursor: pointer; }

.lockerroom-response-control.active:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
  left: 50%;
  margin-left: -15px;
  top: -20px; }

.lockerroom-response-player {
  margin: 0 30px;
  position: absolute;
  width: 100%;
  background: white;
  z-index: 9;
  padding-bottom: 5px; }
  .lockerroom-response-player .author-image {
    border-radius: 0;
    float: left; }
  .lockerroom-response-player .player-name {
    padding: 0 15px;
    float: left;
    font-weight: bold;
    display: inline-block;
    line-height: 75px;
    font-size: 30px; }

.close-lockerroom-responses {
  color: black;
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  line-height: 15px;
  cursor: pointer;
  transition: .15s ease-in-out;
  z-index: 10; }

.close-lockerroom-responses:hover {
  opacity: 0.7; }

.next-lockerroom-response {
  height: 20px;
  width: 20px;
  border: black solid 2px;
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -21px;
  cursor: pointer;
  transition: .15s ease-in-out;
  z-index: 10; }

.next-lockerroom-response:hover {
  opacity: 0.7; }

.prev-lockerroom-response {
  height: 20px;
  width: 20px;
  border: black solid 2px;
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -21px;
  cursor: pointer;
  transition: .15s ease-in-out;
  z-index: 10; }

.prev-lockerroom-response:hover {
  opacity: 0.7; }

.lockerroom .title .subtitle {
  font-size: 20px;
  line-height: 1;
  display: block; }

.response-wrapper {
  height: 100%;
  overflow: scroll; }

.lockerroom .lockerroom-responses .lockerroom-entry .lockerrooom-entry-content {
  background: transparent; }

.locker-authors {
  width: 100%;
  position: relative;
  padding-left: 30px;
  margin-top: -30px; }
  .locker-authors .locker-author-wrap {
    display: table;
    width: 100%; }
  .locker-authors .author-image-wrap {
    display: table-cell;
    background: white; }
    .locker-authors .author-image-wrap .author-image {
      display: table;
      margin: 5px auto;
      background-color: white; }

.locker-authors:before {
  content: '';
  position: absolute;
  border: 30px solid white;
  border-left-color: transparent;
  border-top: none;
  border-right: none;
  top: 0;
  left: 0; }

.first .medium-article {
  margin-top: 0; }

.medium-article {
  height: 240px;
  background: #eee;
  position: relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px; }
  .medium-article a {
    color: white;
    text-decoration: none; }
    .medium-article a:hover {
      color: white;
      text-decoration: underline; }
  .medium-article .headline {
    position: absolute;
    width: 100%;
    top: 40px;
    color: white;
    height: 200px; }
    .medium-article .headline .inner-content {
      padding: 10px; }
      .medium-article .headline .inner-content .copy {
        font-size: 20px; }
        .medium-article .headline .inner-content .copy h3 {
          font-size: 22px; }
      .medium-article .headline .inner-content .byline {
        text-align: right;
        font-size: 16px;
        position: absolute;
        bottom: 10px;
        right: 10px; }
        .medium-article .headline .inner-content .byline .by {
          color: red; }
  .medium-article .overcast {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(20, 20, 20, 0.8);
    background: -webkit-radial-gradient(top, rgba(20, 20, 20, 0.25) 0%, rgba(20, 20, 20, 0.75) 71%, #141414 100%);
    background: -o-radial-gradient(top, rgba(20, 20, 20, 0.25) 0%, rgba(20, 20, 20, 0.75) 71%, #141414 100%);
    background: -ms-radial-gradient(top, rgba(20, 20, 20, 0.25) 0%, rgba(20, 20, 20, 0.75) 71%, #141414 100%);
    transition: 0.25s ease-in-out;
    opacity: 1; }
  .medium-article:hover .overcast {
    opacity: 0.7; }

.grey {
  color: #999; }

.small-entry {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #ddd; }
  .small-entry .author-image {
    height: 50px;
    width: 50px; }
  .small-entry img {
    min-height: 175px; }
  .small-entry h3 {
    margin-top: 0; }

.small-entry:last-child {
  border: none; }

.medium-article.lockerroom {
  background: red;
  text-align: center;
  display: table;
  width: 100%;
  background-image: url(https://s3.amazonaws.com/footballbyfootball-dev/lockerroom/sansjags_backer-small.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0; }
  .medium-article.lockerroom .headline {
    color: white;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    position: relative;
    top: 0; }
    .medium-article.lockerroom .headline .inner-content .copy {
      font-size: 30px; }

.uppercase {
  text-transform: uppercase; }

.banner {
  font-family: "abril-titling-condensed", sans-serif; }

.banner.white.left {
  background: white;
  color: black;
  position: absolute;
  bottom: 100%;
  padding: 0 20px;
  font-size: 0.8em;
  line-height: 20px; }

.banner.white.left:after {
  content: '';
  position: absolute;
  border: white solid 10px;
  border-right-color: transparent;
  border-bottom: none;
  left: 100%;
  top: 0; }

.banner.white.left:before {
  content: '';
  position: absolute;
  border: white solid 10px;
  border-right-color: transparent;
  border-top: none;
  left: 100%;
  bottom: 0; }

.banner.black.left {
  background: black;
  color: white;
  position: absolute;
  bottom: 100%;
  padding: 0 20px;
  font-size: 0.8em;
  line-height: 20px; }

.banner.black.left:after {
  content: '';
  position: absolute;
  border: black solid 10px;
  border-right-color: transparent;
  border-bottom: none;
  left: 100%;
  top: 0; }

.banner.black.left:before {
  content: '';
  position: absolute;
  border: black solid 10px;
  border-right-color: transparent;
  border-top: none;
  left: 100%;
  bottom: 0; }

.banner.white.right {
  background: white;
  color: black;
  position: absolute;
  top: 5%;
  right: 0;
  padding: 0 20px;
  font-size: 0.8em;
  line-height: 20px; }

.banner.white.right:after {
  content: '';
  position: absolute;
  border: white solid 10px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  right: 100%;
  top: 0; }

.banner.white.right:before {
  content: '';
  position: absolute;
  border: white solid 10px;
  border-left-color: transparent;
  border-top-color: transparent;
  right: 100%;
  bottom: 0; }

.banner.white.right.big:after {
  content: '';
  position: absolute;
  border: white solid 15px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  right: 100%;
  top: 0; }

.banner.white.right.big:before {
  content: '';
  position: absolute;
  border: white solid 15px;
  border-left-color: transparent;
  border-top-color: transparent;
  right: 100%;
  bottom: 0; }

.banner.black.right {
  background: black;
  color: white;
  position: absolute;
  top: 5%;
  right: 0;
  padding: 0 20px;
  font-size: 0.8em;
  line-height: 20px; }

.banner.black.right:after {
  content: '';
  position: absolute;
  border: black solid 10px;
  border-left-color: transparent;
  border-bottom: none;
  right: 100%;
  top: 0; }

.banner.black.right:before {
  content: '';
  position: absolute;
  border: black solid 10px;
  border-left-color: transparent;
  border-top: none;
  right: 100%;
  bottom: 0; }

.main-articles {
  padding: 15px 0 150px;
  background: white; }

.column-title {
  margin: 15px 0; }
  .column-title input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    border: none;
    border-bottom: 1px #ccc solid;
    text-align: center;
    -webkit-appearance: none;
    font-size: 25px; }
  .column-title input:focus {
    outline: none; }

.column .column-content-wrapper {
  margin: 0 0 50px; }
.column .column-content-wrapper p:first-child:first-letter {
  float: left;
  display: block;
  margin: .15em .15em 0 0;
  font-weight: 900;
  font-size: 75px;
  line-height: 50px;
  font-family: "abril-titling-condensed", sans-serif; }
.column .column-content-wrapper blockquote p:first-child:first-letter {
  float: none;
  display: inline;
  margin: 0;
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit; }
.column .column-header {
  position: relative; }
  .column .column-header .top {
    position: absolute;
    width: 100%;
    background: black;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px; }
    .column .column-header .top .byline {
      color: white; }
      .column .column-header .top .byline .author-image {
        height: 30px;
        width: 30px; }
  .column .column-header .column-image {
    width: 100%; }
  .column .column-header .title {
    font-size: 30px;
    line-height: 1.3;
    color: white;
    display: block;
    margin-bottom: 10px;
    margin-top: 0; }
    .column .column-header .title input {
      border: none;
      -webkit-appearance: none;
      outline: none;
      width: 100%;
      border-bottom: 1px solid #ddd; }
  .column .column-header .byline {
    display: none; }
  .column .column-header .subtitle input {
    width: 100%;
    border: none;
    outline: none; }
  .column .column-header .date {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    bottom: 0;
    right: 0;
    padding: 0 15px;
    line-height: 2;
    margin-bottom: 0; }
  .column .column-header .approved-check {
    display: inline-block;
    float: right; }
  .column .column-header .add-main-image {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.15s ease-in-out; }
    .column .column-header .add-main-image:hover {
      opacity: 1; }
  .column .column-header .image-uploader {
    background: #eee; }
  .column .column-header .caption-input {
    border: none;
    -webkit-appearance: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    line-height: 2; }
  .column .column-header .close-link {
    display: none; }
  .column .column-header .active .close-link {
    display: block; }
.column .date {
  text-align: center; }
.column .ap-image {
  background: white;
  margin-bottom: 0;
  padding-bottom: 0px;
  line-height: 2;
  border-bottom: 1px solid #ddd; }

hr.bottom {
  margin: 40px 0 20px; }

.main-title {
  text-align: center;
  text-decoration: underline;
  line-height: 3; }

.main-articles .date {
  background: white;
  display: table;
  line-height: 40px;
  padding: 0 20px;
  color: #222;
  margin: auto;
  margin-top: -40px;
  margin-bottom: 20px; }

.column-sidebar {
  position: fixed;
  width: 100%;
  padding-left: 15px;
  top: 115px; }

.author-badge {
  background: #ddd;
  width: 100%;
  padding: 15px 0 0; }
  .author-badge .black.banner.right {
    position: relative;
    font-size: 1.3em;
    line-height: 36px;
    padding-bottom: 4px; }
    .author-badge .black.banner.right .by {
      color: red; }
    .author-badge .black.banner.right:before {
      border: black solid 20px;
      border-left-color: transparent;
      border-top-color: none; }
  .author-badge .author-square {
    height: 120px;
    width: 120px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    vertical-align: top; }
  .author-badge .content {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px; }
    .author-badge .content .item {
      margin: 0;
      line-height: 1.3; }

.under-author {
  margin-top: 20px; }

.under-author.mobile {
  display: none; }

#disqus_thread {
  background: white;
  padding: 10px 20px;
  margin-bottom: 25px; }

form label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  padding: 0;
  background: white;
  color: #999;
  line-height: 40px;
  border: #ccc solid 1px;
  float: left;
  position: absolute;
  text-align: center;
  width: 75px; }
form input {
  font-family: inherit;
  font-size: inherit;
  border: #ccc solid 1px;
  line-height: 38px;
  width: 100%;
  padding-left: 85px; }
form input[type="checkbox"] {
  width: auto; }
form button {
  width: 100%;
  background: #aaa;
  color: #222;
  transition: 0.15s ease-in-out;
  border: none;
  line-height: 40px; }
  form button:hover, form button:active, form button:focus {
    background: #666;
    color: #222;
    border: none; }

form .form-group input {
  font-family: inherit;
  font-size: inherit;
  border: #333 solid 1px;
  line-height: 38px;
  width: 100%;
  padding: 0 15px; }
form .form-group label {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  background: #333;
  color: white;
  float: left;
  text-align: center;
  padding: 0 15px;
  line-height: 2;
  position: relative;
  width: auto;
  border: none; }

.caption-image {
  float: right;
  width: 50%;
  padding: 15px; }
  .caption-image img {
    width: 100%; }
  .caption-image p {
    font-size: 0.8em;
    background: #eee;
    padding: 5px; }

.caption-image.right-aligned {
  float: right;
  width: 50%; }

.caption-image.left-aligned {
  float: left; }

.caption-image.left-logo {
  float: left;
  width: 180px; }

.caption-image.full-width {
  float: none;
  width: 100%; }

.image-links {
  max-height: 250px;
  display: table;
  margin: 0 auto 10px; }

.pull-quote, blockquote {
  border: 5px solid red;
  border-right: none;
  border-left: none;
  padding: 20px 0;
  color: #999;
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
  font-size: 25px; }

.lock {
  position: relative; }

.wysiwyg-font-size-smaller {
  font-size: smaller; }

.wysiwyg-font-size-larger {
  font-size: larger; }

.wysiwyg-font-size-xx-large {
  font-size: xx-large; }

.wysiwyg-font-size-x-large {
  font-size: x-large; }

.wysiwyg-font-size-large {
  font-size: large; }

.wysiwyg-font-size-medium {
  font-size: medium; }

.wysiwyg-font-size-small {
  font-size: small; }

.wysiwyg-font-size-x-small {
  font-size: x-small; }

.wysiwyg-font-size-xx-small {
  font-size: xx-small; }

.wysiwyg-color-red {
  color: #ad1a19; }

.wysiwyg-color-dark {
  color: #2C3744; }

.wysiwyg-text-align-right {
  text-align: right; }

.wysiwyg-text-align-center {
  text-align: center; }

.wysiwyg-text-align-left {
  text-align: left; }

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0; }

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px; }

.wysiwyg-clear-right {
  clear: right; }

.wysiwyg-clear-left {
  clear: left; }

a {
  color: #ad1a19;
  transition: 0.15s ease-in-out;
  text-decoration: none; }

a:hover {
  color: #ad1a19;
  text-decoration: underline; }

.full-width {
  margin: 30px 0; }

.adminbar {
  background: #a78039; }
  .adminbar a {
    padding: 0 15px;
    line-height: 50px;
    color: white;
    display: inline-block; }

.select-label {
  display: inline-block;
  float: left; }

.mini-image {
  min-height: 200px;
  background-size: cover;
  background-position: center; }

.lockerroom-sidebar {
  margin: 20px 0 0; }

.home-column-sidebar {
  margin: 0 0 15px;
  max-height: 450px; }

.home-column-sidebar.expanded {
  max-height: inherit;
  padding-bottom: 30px; }
  .home-column-sidebar.expanded .home-column-overlay {
    background: transparent;
    height: 30px; }
    .home-column-sidebar.expanded .home-column-overlay .up_arrow {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      bottom: 5px; }

.home-column-overlay.expanded:hover .up_arrow {
  opacity: 0.8; }

.lockerroom-sidebar, .home-column-sidebar {
  text-align: center;
  color: white;
  padding: 5px 15px 0;
  background: #222;
  position: relative; }
  .lockerroom-sidebar a, .lockerroom-sidebar a:hover, .home-column-sidebar a, .home-column-sidebar a:hover {
    color: white; }
  .lockerroom-sidebar .lr-sidebar-title, .home-column-sidebar .lr-sidebar-title {
    line-height: 3;
    border-bottom: solid 1px rgba(255, 255, 255, 0.7);
    margin: 0; }
  .lockerroom-sidebar .lr-sidebar-link, .home-column-sidebar .lr-sidebar-link {
    border-bottom: dashed 1px rgba(255, 255, 255, 0.7);
    padding: 10px 0;
    line-height: 1.5;
    margin: 0; }
    .lockerroom-sidebar .lr-sidebar-link span, .home-column-sidebar .lr-sidebar-link span {
      cursor: pointer; }
  .lockerroom-sidebar .lr-sidebar-link:last-child, .home-column-sidebar .lr-sidebar-link:last-child {
    border: none; }
  .lockerroom-sidebar .home-column-overlay, .home-column-sidebar .home-column-overlay {
    display: block;
    overflow: hidden;
    height: 100px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #222));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #222 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #222 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #222 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#222',GradientType=0 );
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: pointer; }
    .lockerroom-sidebar .home-column-overlay .up_arrow, .home-column-sidebar .home-column-overlay .up_arrow {
      width: 20px;
      height: 20px;
      border-top: 2px solid white;
      border-left: 2px solid white;
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      position: absolute;
      bottom: 15px;
      left: 50%;
      margin-left: -20px;
      transition: 0.15s ease-out;
      outline: none; }
    .lockerroom-sidebar .home-column-overlay .up_arrow:hover, .home-column-sidebar .home-column-overlay .up_arrow:hover {
      opacity: 0.8; }
  .lockerroom-sidebar .home-column-overlay:hover .up_arrow, .home-column-sidebar .home-column-overlay:hover .up_arrow {
    opacity: 0.8; }

.home.lockerroom-sidebar {
  background: red; }

.home.lockerroom-sidebar.links {
  background: transparent;
  color: #222; }
  .home.lockerroom-sidebar.links a, .home.lockerroom-sidebar.links a:hover {
    color: #222; }
  .home.lockerroom-sidebar.links .lr-sidebar-title {
    border-bottom: solid 1px rgba(0, 0, 0, 0.7); }
  .home.lockerroom-sidebar.links .lr-sidebar-link {
    border-bottom: dashed 1px rgba(0, 0, 0, 0.7); }
  .home.lockerroom-sidebar.links .lr-sidebar-link:last-child {
    border: none; }

.social-share {
  display: table;
  margin: auto; }

.social-share.big .social-button {
  padding: 23px;
  margin: 50px 0 50px;
  display: inline-block;
  font-size: 18px; }

.social-button {
  color: #222;
  background: #ddd;
  line-height: 1;
  transition: 0.15s ease-in-out;
  padding: 10px;
  margin: 10px 0;
  display: inline-block; }
  .social-button:hover {
    color: white;
    text-decoration: none; }

.social-button.facebook:hover {
  background: #43609C; }

.social-button.twitter:hover {
  background: #55ACEE; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.5; }

.medium-article .headline .inner-content .copy h3 {
  margin-top: 0; }

.top-banner-container {
  display: block;
  margin: auto;
  width: 728px;
  max-width: 100%;
  overflow: hidden; }

.lines-button {
  display: none; }

.article-links.social {
  line-height: 50px;
  display: inline-block;
  width: 50px;
  text-align: center; }
  .article-links.social .fa {
    font-size: 20px;
    vertical-align: middle; }

.article-links.social.subscribe {
  background: #bfbfbf; }

.article-links.social.twitter {
  background: #00b0ed; }

.article-links.social.facebook {
  background: #3b5999; }

.article-links.social:hover {
  opacity: 0.7; }

.post-form .embed-area {
  width: 100%;
  margin-top: 40px;
  border: none;
  border-top: 1px solid #eee;
  outline: none; }

.error {
  text-align: center; }

.bio .bio_title {
  text-align: center; }
.bio .bio_content {
  padding-bottom: 50px; }

.podcastbutton {
  height: 30px;
  width: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.15s ease-out;
  position: relative;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  overflow: hidden;
  opacity: 0.9;
  float: left; }

.podcastbutton:hover {
  opacity: 1; }

.play.podcastbutton:after {
  content: '';
  position: absolute;
  display: block;
  border: 8px solid white;
  border-left: red solid 13px;
  top: 7px;
  left: 11px; }

.pause.podcastbutton:after, .pause.podcastbutton:before {
  content: '';
  position: absolute;
  background: red;
  height: 16px;
  width: 4px;
  display: block;
  top: 7px; }

.podcast_label {
  font-weight: bold;
  background: white;
  color: red;
  line-height: 50px;
  display: inline-block;
  padding: 0 18px;
  font-size: 29px;
  vertical-align: middle;
  margin: 0;
  font-family: "abril-titling-condensed", sans-serif;
  text-shadow: -1px 1px 0px white, -2px 2px 0px black;
  float: left; }

.podcast_progress {
  padding-right: 20px;
  float: left;
  font-size: 12px;
  line-height: 50px; }

.pause.podcastbutton:before {
  left: 9px; }

.pause.podcastbutton:after {
  right: 9px; }

.podcast_icons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 20px;
  background: red; }
  .podcast_icons a.podcast_icon {
    color: white;
    font-size: 25px;
    padding: 0 10px;
    line-height: 50px; }

.podcast_title {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
  float: left;
  position: absolute;
  font-family: "abril-titling-condensed", sans-serif; }

.trumbowyg-box, .trumbowyg-editor {
  border: none;
  margin: 0;
  width: auto; }

.trumbowyg-button-pane {
  background: white;
  border-bottom: 1px solid #eee; }

.trumbowyg-button-pane li.trumbowyg-separator {
  background: #eee;
  height: 41px; }

.trumbowyg-button-pane li button {
  margin: 3px 0; }

.writers .author-badge .author-square {
  height: 150px;
  width: 150px; }
.writers .author-badge .banner.black.right:after, .writers .author-badge .banner.black.right:before {
  display: none; }
.writers .author-badge .content {
  max-height: 110px;
  overflow: scroll; }
.writers .writer-link {
  display: table;
  padding: 0px 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold; }

h1, h2, h3 {
  font-weight: bold; }

.home .mobile {
  display: none; }

.tablet, .logo.tablet {
  display: inline-block; }

.mobile, .logo.mobile {
  display: none; }

@media (min-width: 992px) {
  .lockerroom .lockerroom-controls .author-image-wrap .author-image {
    height: 100px;
    width: 100px; }
  .lockerroom-responses {
    bottom: 125px; } }

@media (max-width: 991px) {
  .medium-article {
    margin-top: 20px; }
  .big-article {
    margin-bottom: 20px; }
    .big-article .headline .inner-content .copy {
      margin-bottom: 50px; }
  .lockerroom .lockerroom-header {
    background-position: center;
    background-size: cover;
    position: relative; }
    .lockerroom .lockerroom-header .title {
      font-size: 40px; }
  .column-sidebar {
    position: static; }
  .column .column-header .byline {
    display: inline-block;
    margin: 15px 0 15px;
    position: absolute;
    bottom: -20px;
    right: 15px; }
    .column .column-header .byline .player-name {
      background: black;
      color: white;
      line-height: 1.6;
      display: inline-block;
      padding: 0 30px 0 15px;
      margin-right: -15px;
      border: 1px solid red;
      border-left: none; }
  .column .column-header .date {
    display: none; }
  .column .author-badge {
    display: none; }
  .tablet, .logo.tablet {
    display: inline-block; }
  .mobile, .logo.mobile {
    display: none; } }

@media (max-width: 480px) {
  .tablet, .logo.tablet {
    display: none; }
  .mobile, .logo.mobile {
    display: inline-block; }
  .home .mobile {
    display: inline-block; }
  .home .desktop, .home .masthead {
    display: none; }
  .lines-button {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0px; }
  .lockerroom-response-player {
    margin: 0 30px;
    position: absolute;
    width: 100%;
    background: white;
    z-index: 9;
    padding-bottom: 5px; }
    .lockerroom-response-player .author-image {
      border-radius: 0;
      float: left; }
    .lockerroom-response-player .player-name {
      padding: 4px 15px;
      float: left;
      font-weight: bold;
      display: inline-block;
      font-size: 14px;
      line-height: inherit; }
  .lockerroom .lockerroom-entry .lockerrooom-entry-content {
    padding: 30px; }
  .lockerroom .lines {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: black;
    transition: 0.15s ease-in-out;
    border-radius: 0;
    position: relative;
    vertical-align: middle;
    /*create the upper and lower lines as pseudo-elements of the middle line*/ }
    .lockerroom .lines:before, .lockerroom .lines:after {
      display: inline-block;
      width: 30px;
      height: 3px;
      background: black;
      transition: 0.15s ease-in-out;
      border-radius: 0;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 5px center; }
    .lockerroom .lines:before {
      top: 8px; }
    .lockerroom .lines:after {
      top: -8px; }
  .lines {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: black;
    transition: 0.15s ease-in-out;
    border-radius: 0;
    position: relative;
    vertical-align: middle;
    /*create the upper and lower lines as pseudo-elements of the middle line*/ }
    .lines:before, .lines:after {
      display: inline-block;
      width: 30px;
      height: 3px;
      background: black;
      transition: 0.15s ease-in-out;
      border-radius: 0;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 5px center; }
    .lines:before {
      top: 8px; }
    .lines:after {
      top: -8px; }
  .lines-button.x .lines {
    /*hide the middle line*/
    background: transparent;
    /*overlay the lines by setting both their top values to 0*/ }
    .lines-button.x .lines:before, .lines-button.x .lines:after {
      transform-origin: 50% 50%;
      top: 0;
      width: 30px; }
    .lines-button.x .lines:before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .lines-button.x .lines:after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); }
  body {
    margin-top: 0 !important; }
  body > iframe:first-child {
    display: none; }
  .caption-image.right-aligned, .caption-image.left-aligned, .caption-image.left-logo {
    float: none;
    width: 100%; }
  .lockerroom .lockerrooom-entry-title .author-image {
    float: right;
    position: absolute; }
  .under-author.mobile {
    display: block; }
  .under-author.desktop {
    display: none; }
  .social-share.big .social-button {
    padding: 23px;
    margin: 10px 0;
    display: inline-block;
    font-size: 18px;
    margin: auto;
    display: inline-block;
    width: 100%;
    text-align: center; }
  .lockerroom-responses {
    bottom: 55px;
    top: 0;
    left: 0;
    right: 0; }
  .next-lockerroom-response, .prev-lockerroom-response {
    display: none; }
  .lockerroom .lockerroom-entry .lockerrooom-entry-title .author-image {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 10px;
    top: -10px;
    margin: 0; }
  .column .column-header {
    text-align: center; }
    .column .column-header .top {
      padding: 0 15px;
      position: relative;
      background: black; }
    .column .column-header .title {
      font-size: 18px;
      margin-bottom: 0;
      line-height: 1.5;
      padding: 10px 0; }
    .column .column-header .date {
      display: none; }
    .column .column-header .byline {
      bottom: -15px; }
      .column .column-header .byline .author-image {
        height: 50px;
        width: 50px; }
  .column .ap-image {
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 0; }
  .column .subtitle {
    font-size: 18px; }
  .column .date {
    display: none; }
  .medium-article .headline .inner-content .copy h3 {
    font-size: 18px; }
  .topbar .right-side {
    display: none; }
  .topbar .right-side.active {
    display: block;
    float: none;
    text-align: center;
    border-top: #666 solid 1px;
    margin-top: 10px; }
    .topbar .right-side.active .article-links {
      color: black;
      display: block;
      border-bottom: #666 solid 1px; }
      .topbar .right-side.active .article-links.no-border {
        border: none; }
    .topbar .right-side.active .icon-container {
      display: table;
      width: 100%;
      margin-left: 0; }
    .topbar .right-side.active .article-links.social {
      display: table-cell;
      border-bottom: none;
      color: white; }
  .topbar .top-main {
    background: #bfbfbf;
    color: black; }
  .lockerroom-controls .author-image-wrap .author-image:hover {
    z-index: auto;
    box-shadow: none; }
  .podcast_label {
    font-size: 20px; }
  .podcast_progress, .podcast_title {
    display: none; }
  .podcast_label {
    text-shadow: none; } }

div[id^="grabDiv"] {
  width: 100% !important;
  height: auto !important;
  padding-bottom: 56.25%; }
  div[id^="grabDiv"] video[id^="GrabPlayer"], div[id^="grabDiv"] img[id^="grabPreview"], div[id^="grabDiv"] div[id^="grabPlayButton"], div[id^="grabDiv"] div[id^="grabSpinner"], div[id^="grabDiv"] div[id^="grabError"] {
    height: 100% !important;
    width: 100% !important; }
