<%= include ../header %>	

<script>window.Players = <%- JSON.stringify(players) %>;</script>
<div class="main-articles">
	<div class="container">
		<div class="row">
			<div id='react-content'></div>
		</div>
	</div>
</div>

<script src='/js/column-editor/lockerroom-editor.compiled.js' ></script>

<%= include ../footer %>